

@using Cats.Models
@using Cats.Web.Adminstration.Models.ViewModels
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Index</h2>
@(Html.Kendo().Grid<CommoditySourceViewModel>().Columns(columns=>
                                                            {
                                                                columns.Bound(t => t.CommoditySourceID);
                                                                columns.Bound(t => t.Name);

                                                            }).DataSource(datasource=>datasource.Ajax()
    .Read("CommoditySource_Read","CommoditySource")
    .Create("CommoditySource_Update","CommoditySource")
    .Update("CommoditySource_Update","CommoditySource")
    .Destroy("CommoditySource_Delete","CommoditySource")
    .Model(m=>m.Id(t=>t.CommoditySourceID)))
    )
    
  