@{
    ViewBag.Title = "ConfirmPasswordChange";
}

<h2>Password Change Request Accepted</h2>
<p>
    Thank you for submitting a password change request.
    <br />
    An Email has been sent to your email address. Please follow the link in the email to change your passwprd.
</p>