@using Cats.Helpers
@using Cats.Models.Constant
<ul class="nav nav-list">
   
    
    <li class="nav-header">Transport Order</li>
    <li><a href="@Url.Action("Index","TransportOrder",new {id=(int)TransportOrderStatus.Draft,Area="Procurement"})"><i class="icon-inbox"></i> @Html.Translate("Draft Order") </a></li>
   <li><a href="@Url.Action("Index","TransportOrder",new {id=(int)TransportOrderStatus.Approved,Area="Procurement"})"><i class="icon-check"></i> @Html.Translate("Approved Orders")</a></li>
   
   

</ul>
