<ul class="nav nav-list">
   
    
    <li class="nav-header">Transport Order</li>
    <li><a href="@Url.Action("Index","TransportOrder",new {Area="Procurement"})"><i class="icon-inbox"></i> Draft Order </a></li>
   <li><a href="@Url.Action("Index","TransportOrder",new {Area="Procurement"})"><i class="icon-check"></i> All Orders</a></li>
   
   

</ul>
