@using Cats.Areas.Logistics.Models
@using Cats.Models.Constant
@using Cats.Models.ViewModels
@using Kendo.Mvc.UI


@{
    ViewBag.Title = "TransportRequisitions";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section LeftBar{
    @Html.Partial("_TransportOrderLeftBar");
}
@*<div id='dialogDiv' class='modal hide fade in'>
    <div id='dialogContent'></div>
</div>*@
<h4 class="page-header">Approved Transport Requisition</h4>
Transport Requisition Code: <input id="searchIndex" style="width: 300px; height: 20px; border-radius: 3px; margin-top: 5px;" type="search" /> <a data-buttontype=""  class="btn icon-search" onclick="reloadTDRGrid()"></a>
@*<a class="btn toolbar-btn" href="@Url.Action("GenerateTransportRequisitionForRegion", "TransportRequisition", new { Area = "Logistics", regionID = 2 })"><i class="ui-icon-cancel"></i></a>*@
@(Html.Kendo().Grid<TransportRequisitionViewModel>().Name("Grid").Columns(columns =>
{

    columns.Bound(requisition => requisition.TransportRequisitionNo).ClientTemplate("<a href='" + Url.Action("Details", "TransportRequisition", new { Area = "Logistics", id = "#=TransportRequisitionID#" }) + " '>#=TransportRequisitionNo#</a>  ");
    columns.Bound(requisition => requisition.Region);
    columns.Bound(requisition => requisition.Program);
    columns.Bound(requisition => requisition.RequestedBy);
    columns.Bound(requisition => requisition.DateRequested).HeaderHtmlAttributes(new { @class = "cats-date-pref-grid" });
    columns.Bound(requisition => requisition.CertifiedBy);
    //columns.Bound(requisition => requisition.DateCertified).HeaderHtmlAttributes(new { @class = "cats-date-pref-grid" });
    columns.Bound(requisiton => requisiton.Status);
    columns.Bound(requisition => requisition.TransportRequisitionNo).ClientTemplate("<a class='btn-generate-transportorder' href='" + Url.Action("ConfirmGenerateTransportOrder", "TransportRequisition", new { Area = "Logistics", id = "#=TransportRequisitionID#" }) + " '>Generate Transport Order</a>  ").Title(" ");

})
    .Editable(editable => editable.Mode(GridEditMode.PopUp))
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:430px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Model(model =>model.Id(p => p.TransportRequisitionID))
        .Read(read => read.Action("TransportRequisition_Read", "TransportRequisition",new {Area="Logistics",status=(int)TransportRequisitionStatus.Approved}).Data("searchIndexObj"))
    ).Pageable()
)


<script>
    function searchIndexObj() {
        //alert($("#AdminUnitTreeView").data("kendoTreeView").dataSource.id);
        var searchIndexValue = $("#searchIndex").val();
        var obj = { searchIndex: searchIndexValue };
        return obj;
    }

    function reloadTDRGrid() {
        //alert($("#searchIndex").val());
        var grid = $("#Grid").data("kendoGrid");
        grid.dataSource.read();
    }
</script>
@*<script type="text/javascript">
    $(function () {

        //Optional: turn the chache off
        $.ajaxSetup({ cache: false });

        $('.btn-generate-transportorder').click(function () {
            $('#dialogContent').load(this.href, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                //bindForm(this);
            });
            return false;
        });
    });
</script>*@