@{
    ViewBag.Title = "TransportOrder";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>TransportOrder</h2>






<div class="dashboard" >
   
<div class="alert alert-danger"> Navigation Bar</div>              
          
<div class="dashboard3Col"> 
<div class="dashboardCol">  </div>
<div class="dashboardCol"> @Html.Partial("~/Areas/Procurement/Views/TransportOrder/TransportOrderPartial.cshtml")  </div>
<div class="dashboardCol">  </div>
<div class="dashboardFooter"> </div>
</div>
</div>