@{
    ViewBag.Title = "TransportOrder";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<fieldset>
    <legend>
        Transport Order Dashboard
    </legend>
</fieldset>


<div class="dashboard" >
   
<div class="alert alert-danger"> Navigation Bar</div>              
          
<div class="dashboard3Col" > 
<div class="dashboardCol alert alert-success"> <div class="dashboardItemHeader">Incoming Cargos</div>
        <div class="dashboardItem">
            <div class="dashboardItemBody">@Html.Partial("~/Areas/Procurement/Views/TransportOrder/TransportOrderPartial.cshtml")</div>
        </div>  </div>
    <div class="dashboardCol alert alert-success">
        <div class="dashboardItemHeader">Incoming Cargos</div>
        <div class="dashboardItem">
            <div class="dashboardItemBody">@Html.Partial("~/Areas/Procurement/Views/TransportOrder/TransportOrderPartial.cshtml")</div>
        </div>   
    </div>
</div>
<div class="dashboardCol alert alert-success"> <div class="dashboardItemHeader">Incoming Cargos</div>
        <div class="dashboardItem">
            <div class="dashboardItemBody">@Html.Partial("~/Areas/Procurement/Views/TransportOrder/TransportOrderPartial.cshtml")</div>
        </div>  </div>
<div class="dashboardCol alert alert-success"><div class="dashboardItemHeader">Incoming Cargos</div>
        <div class="dashboardItem">
            <div class="dashboardItemBody">@Html.Partial("~/Areas/Procurement/Views/TransportOrder/TransportOrderPartial.cshtml")</div>
        </div>  </div>
    <div class="dashboardFooter">   </div>

</div>
</div>