@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section Toolbar
{
    <a data-buttontype="btn_new_record" id="btnAddDonation" class="btn toolbar-btn " href="@Url.Action("AddNewDonation", "Donation")"></a>
}
<fieldset>
    
        <legend>
            Receive Plan
        </legend>
    
</fieldset>
  
@(Html.Kendo().Grid<Cats.Areas.Logistics.Models.DonationHeaderViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.SINumber).Title("SI Number").Width(100);
        columns.Bound(p => p.DateOfAllocation).Title("Allocation Date").Width(100);
        columns.Bound(p => p.ProgramName).Title("Program").Width(200);
        columns.Bound(p => p.DonorName).Title("Donor").Width(200);
        columns.Bound(p => p.CommodityName).Title("Commodity").Width(200);
        columns.Bound(p => p.ETA).Title("Commodity").Width(200);
        columns.Bound(p => p.ModeOfTransport).Title("Commodity").Width(200);
        columns.Bound(p => p.Vessel).Title("Commodity").Width(200);
        columns.Command(p =>
        {
            p.Custom("Edit").Click("Edit");
            //p.Custom("Delete").Click("Delete");

        });
    })
    
    .Editable(editable => editable.Mode(GridEditMode.InCell))
   
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:430px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Events(events => events.Error("error_handler"))
        .Model(model => model.Id(p => p.DonationHeaderPlanID))
        .Create(update => update.Action("EditingInline_Create", "Grid"))
        .Read(read => read.Action("ReadDonationPlan", "Donation"))
        .Update(update => update.Action("EditingInline_Update", "Grid"))
        .Destroy(update => update.Action("EditingInline_Destroy", "Grid"))
    )
)
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>

<script type="text/javascript">
    

    function Edit(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var siNumber = dataItem["SINumber"];
        window.location = null;
        window.location = "@Url.Action("AddNewDonationPlan", "Donation")" + "?siNumber=" + siNumber + "&typeOfLoad=0";
    }
    
   
</script>

<script type="text/javascript">
    $(function () {

        //Optional: turn the chache off
        $.ajaxSetup({ cache: false });

        $('#btnAddDonation').click(function () {

            // alert("");
            $('#dialogContent').load(this.href, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                //bindForm(this);
            });
            return false;
        });

      
    });
</script>

<div id='dialogDiv' class='modal hide fade in' style="width: 820px;margin-right: 10px">
    <div id='dialogContent'></div>
</div>