<ul class="nav nav-list">
    <li class="nav-header">Currency Management</li>
    <li><a href="@Url.Action("Index", "Currency")"><i class="icon-inbox"></i> Currency Lists </a></li>
    <li class="divider"></li>
</ul>
