@using Kendo.Mvc.UI
@model List<Cats.Models.Currency>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section Toolbar
{
    <a data-buttontype="btn_new_record" class="btn toolbar-btn " href="@Url.Action("Create", "Currency")"></a>
}
@section LeftBar
{
    @Html.Partial("_CurrencyLeftBar");
}
<div>
    <h4>List of Currencies</h4>
</div>
@(Html.Kendo().Grid<Cats.Areas.EarlyWarning.Models.CurrencyViewModel>()
    .Name("grid")
    .Columns(columns =>
        {
        columns.Bound(p => p.CurrencyCode);
        columns.Bound(p => p.CurrencyName);
        
       columns.Command(command => command.Destroy());
    })
    .ToolBar(toolbar =>
        {
            toolbar.Create();
            toolbar.Save();
        })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Sortable()
    .Filterable()
    .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(8)
            .Model(model => model.Id(p => p.CurrencyID))
           .Read(read => read.Action("Currency_Read", "Currency"))
           .Update(update => update.Action("Currency_Update", "Currency"))
           .Create(create => create.Action("Currency_Create", "Currency"))
           .Destroy(destroy=>destroy.Action("ContributionDetail_Destroy","Currency"))
 
     )
   
      )
