@using Kendo.Mvc.UI
@model List<Cats.Areas.Procurement.Models.TransportBidPlanViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}
@section LeftBar
{
    @Html.Partial("_BidPlanLeftBar")
}
<div id="div_tree_view">

@(Html.Kendo().TreeView()
        .Name("treeview")
        
        .Events(events => events
           
            .Select("onSelect")
            )
        .Items(treeview => treeview.Add().Text("Regions")
                               .SpriteCssClasses("folder")
                               .Expanded(true)
                               .Items(root =>
                                   {
                                       foreach (var region in ViewBag.RegionCollection)
                                       {
                                           dynamic region1 = region;
                                           root.Add().Text((string)region.Name)
                                               .SpriteCssClasses("folder")
                                               // .Expanded(true)
                                               .Items(zones =>
                                                   {
                                                       foreach( var zone in region1.AdminUnit1)
                                                       {
                                                           dynamic zone1 = zone;
                                                           zones.Add().Text((string)zone.Name)
                                    
                                                               .SpriteCssClasses("image")
                                                               .Items(woredas =>
                                                                   {
                                                                       foreach (var woreda in zone1.AdminUnit1)
                                                                       {
                                                                           woredas.Add().Text((string)woreda.Name)
                                                                               .Id(woreda.AdminUnitID + "")
                                           
                                                                               .SpriteCssClasses("pdf");
                                           
                                                                       }
                                                                   }); 
                                                       }
                                
                                                   });
                                       } 
                   
                   
                    
                                   }))
    )
</div>

<style scoped>
    .demo-section {
        width: 200px;
    }

    #treeview .k-sprite {
        background-image: url("@Url.Content("~/Content/web/treeview/coloricons-sprite.png")");
    }

    .rootfolder { background-position: 0 0; }
    .folder { background-position: 0 -16px; }
    .pdf { background-position: 0 -32px; }
    .html { background-position: 0 -48px; }
    .image { background-position: 0 -64px; }
</style>
<script type="text/javascript">

    function show_obj(obj, name) {
        var htm = "<ul>";
        for (var i in obj) {
            htm += "<li>" + i + ":" + typeof (obj[i]) + "</li>";
        }
        htm += "</ul>";
        return htm;
    }
    
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
    function editRecord(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
       
        window.location = "/Procurement/TransportBidPlan/Edit/" + dataItem.TransportBidPlanID
    }
    function selectWarehouse(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = "/Procurement/TransportBidPlan/WarehouseSelection/" + dataItem.TransportBidPlanID

       
    }
</script>