@using Kendo.Mvc.UI
@model List<Cats.Areas.Procurement.Models.TransportBidPlanViewModel>



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}
<div>
    <h4>List of Bids</h4>
</div>
@(Html.Kendo().Grid<Cats.Models.TransportBidPlan>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(p => p.ShortName);
        columns.Bound(p => p.Year).Width(100);
        columns.Bound(p => p.YearHalf).Width(100);

        columns.Command(command => { 
           command.Custom("Edit").Click("editRecord");
            command.Custom("Warehouse Selection").Click("selectWarehouse");
            command.Destroy(); 
        });
    })
    
     .ClientRowTemplate(
        '<tr data-uid="bbe2c8a6-905a-4db3-a0ba-752e9b8654db" role="row"><td role="gridcell">Komet Transport</td><td role="gridcell">Addis Ababa</td><td role="gridcell">Arada</td><td role="gridcell"></td><td role="gridcell"><a class="k-button k-button-icontext k-grid-Edit" href="#"><span class=" "></span>Edit</a><a class="k-button k-button-icontext k-grid-Editsub" href="#"><span class=" "></span>Edit sub</a><a class="k-button k-button-icontext k-grid-delete" href="#"><span class="k-icon k-delete"></span>Delete</a></td></tr>'
     
    )
    .ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.PopUp))
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:430px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Events(events => events.Error("error_handler"))
        .Model(model => model.Id(p => p.TransportBidPlanID))
        .Read(read => read.Action("GetListJson", "TransportBidPlan"))
        .Destroy(update => update.Action("EditingInline_Destroy", "TransportBidPlan"))
        //.Update(update => update.Action("EditingInline_Update", "Transporter"))
        //.Create(update => update.Action("EditingInline_Create", "Transporter"))
        
        .Update(update => update.Action("Edit", "TransportBidPlan"))
        .Create(update => update.Action("Create", "TransportBidPlan"))
    )
)
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
    function editRecord(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
       
        window.location = "/Procurement/TransportBidPlan/Edit/" + dataItem.TransportBidPlanID
    }
    function selectWarehouse(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = "/Procurement/TransportBidPlan/Warehouseselection/" + dataItem.TransportBidPlanID

       
    }
</script>