@model System.Web.Mvc.HandleErrorInfo
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = Html.Translate("Error");
}

<h2>
    @Html.Translate("Page cannot be displayed")
</h2>
<p>
    @Html.Translate("There was an error that prevented the resource you requested from being displayed. Please report this problem to the administrator if it persists.")
</p>
