
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Region</th>
            <th>Requested</th>
            <th class="td-actions">Reference number</th>
        </tr>
    </thead>
    
    <tbody style="overflow:scroll; height:80px">
        <tr>
            <td>Overdue requests</td>
            <td>Monthly request from Afar Region</td>
            <td>R51424521</td>
        </tr>
        <tr>
            <td>Overdue requests</td>
            <td>Monthly request from Afar Region</td>
            <td>R51424521</td>
        </tr>
        <tr>
            <td>Overdue requests</td>
            <td>Monthly request from Afar Region</td>
            <td>R51424521</td>
        </tr>
        <tr>
            <td>Overdue requests</td>
            <td>Monthly request from Afar Region</td>
            <td>R51424521</td>

            @*<td class="td-actions">
                <a href="javascript:;" class="btn btn-small btn-warning">
                    <i class="btn-icon-only icon-ok"></i>
                </a>

                <a href="javascript:;" class="btn btn-small">
                    <i class="btn-icon-only icon-remove"></i>
                </a>
            </td>*@
        </tr>
    </tbody>

</table>

<script>
    //$("div").html("<b>Wow!</b> Such excitement...");
</script>
