@{
    ViewBag.Title = "Requisitions Based On Status";
}
<div class ="tableWindow">

</div>

<script>
    $.ajax(
        {
            // The link we are accessing.
            url: "ReliefRequisition/GetAllRequisitions",
            // The type of request.
            type: "get",
            // The type of data that is getting returned.
            dataType: "html",
            //error: function () {
            //},
            //beforeSend: function ()s {
            //},
            //complete: function () {
            //},
            //data: {                        
            //},
            success: function (strData) {
                var result = JSON.parse(strData);
                var content = '<table class="table table-striped table-bordered"><thead><tr><th>Requisition No.</th><th>Requested By</th><th>Requested Date</th><th>Status</th></tr></thead><tbody>';
                for (var i = 0; i < result.count; i++){
                    content = '<tr>' + result[i].RequisitionNo + '<td></td>';
                    content = '<td></td>';
                    content = '<td></td>';
                    content = '<td></td>';
                    content = '<td></td>';
                    content = '</tr>';
                }
                content = '</tbody><table>';
                $("#tableWindow").html(strData);
            }
        }
    );
</script>