<div class="shortcuts">
    <a href="@Url.Action("Index", "RegionalPSNPPlan", new { Area = "PSNP" })" class="shortcut"><i class="shortcut-icon icon-star"></i>
        <span class="shortcut-label">PSNP</span>
    </a>
    <a href="@Url.Action("Index", "HRD", new { Area = "EarlyWarning" })" class="shortcut"><i class="shortcut-icon icon-calendar"></i>
        <span class="shortcut-label">HRD</span>
    </a>

    <a href="@Url.Action("Index", "Home", new { Area = "Procurement" })" class="shortcut"><i class="shortcut-icon icon-shopping-cart"></i>
        <span class="shortcut-label">Procurement</span>
    </a>

    <a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-tasks"></i>
        <span class="shortcut-label">Tasks</span>
    </a>

    <a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-bell"></i>
        <span class="shortcut-label">Alerts</span>
    </a>

    <a href="@Url.Action("Index", "AdminDashboard", new { Area = "Settings" })" class="shortcut"><i class="shortcut-icon icon-cog"></i>
        <span class="shortcut-label">Preferences</span>
    </a>
</div>
