@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = "Plan Dispatch for FDPs";
}

@Html.Partial("DisplayHub")

<p>
    @Html.Translate("Please use this form to set the remaining details for dispatch allocations that have been imported from the transportation and bidding system.")
</p>

<table class="borderless" width="100%">
    <tr>
        <td class="step-1 wizard" style="width: 33%">
            Step 1
        </td>
        <td class="step-2 wizard" style="width: 33%">
            Step 2
        </td>
        <td class="step-3 wizard" style="width: 33%">
            Step 3
        </td>
    </tr>
    <tr>
        <td class="step-1 wizard" style="width: 33%">
            Select Requisition
        </td>
        <td class="step-2 wizard" style="width: 33%">
            Set Transportation Details
        </td>
        <td class="step-3 wizard" style="width: 33%">
            Allocate Project Code
        </td>
    </tr>
</table>
<table width="100%">
    <tr>
        <td>
            <div id="content-area">
    
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">
    $(function() {
        LoadFirstStep();
    });

    function LoadFirstStep() {
        $('.wizard').removeClass('active-wizard');
        $('.step-1').addClass('active-wizard');
        $('#content-area').load('/DispatchPlan/ListRequisitions');
    }
    
    function LoadSecondStep(requistion) {
        $('.wizard').removeClass('active-wizard');
        $('.step-2').addClass('active-wizard');
        $('#content-area').load('/DispatchPlan/RequistionDetails?req=' + requistion);
    }
</script>