@using Cats.Areas.EarlyWarning.Models
@using Kendo.Mvc.UI
@using LanguageHelpers.Localization
@using Cats.Helpers

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Toolbar
{
    <a data-buttontype="btn_new_record"  class="btn toolbar-btn " href="@Url.Action("Create", "DonorCoverage")"></a>
}
<h4>List Of Donors Coverage</h4>
@(Html.Kendo().Grid<HRDDonorCoverageViewModel>()
      .Name("grid")
          .Columns(columns =>
              {
                  columns.Bound(m => m.DonorName).Title("Donor/Partner Name").ClientTemplate("<a href='" + Url.Action("Detail", "DonorCoverage", new { id = "#=HrdDonorCovarageID#" }) + " '>#=DonorName#</a>  ");
                  columns.Bound(m => m.HRDName);
                  columns.Bound(m => m.CreatedDate);
                  columns.Bound(m => m.NoCoveredWoredas).Title(Html.Translate("Number of Woredas"));

              }

      )
           
             .Scrollable()
             .HtmlAttributes(new { style = "height:430px;" })
              .DataSource(dataSource => dataSource
             .Ajax()
            .Model(model => model.Id(p => p.HrdDonorCovarageID))
            .Read(read => read.Action("DonorCoverage_Read", "DonorCoverage"))
           
            )
      )

