@model System.Web.Mvc.HandleErrorInfo
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = Html.Translate("Error");
}

<h2>
    @ViewBag.Title
</h2>

<p>
    @Html.Translate("Sorry, an error occurred while processing your request.")
</p>