@model IEnumerable<Cats.Models.Hub.ViewModels.FDPViewModel>
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = Html.Translate("Final Destination Points");
}
<div id="fdplist">
 
 @Html.Partial("IndexPartial")

</div>

