@{
    ViewBag.Title = "Home Page";
}

<div class="shortcuts">
    <a href="@Url.Action("Index", "Home")" class="shortcut"><i class="shortcut-icon icon-star"></i>
        <span class="shortcut-label">PSNP</span>
    </a>
    <a href="@Url.Action("Index", "Home")" class="shortcut"><i class="shortcut-icon icon-calendar"></i>
        <span class="shortcut-label">HRD</span>
    </a>
</div>