

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@foreach (var i in ViewBag.Winners)
{
    <div>@i.Position | Transporter:@i.TransporterID , Tariff: @i.Tariff</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
