@{
    Layout = null;
    //Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<html ng-app>  
    <head lang="en">
        <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    </head>
    <body>
        <div>
            <label>Name:</label>
            <input type="text" ng-model="yourName" placeholder="Enter a name here">
            <hr>
            <h1>Hello {{yourName}}!</h1>
        </div>
    </body>
</html>