
@{
    ViewBag.Title = "ApprovedRequesitions";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<fieldset>
    <legend>
        Approved Requesitions
    </legend>
</fieldset>



@section LeftBar
{
    @using (Html.BeginForm())
    {
        <div class="control-group">
            <label class="control-label">Year</label>
            <div class="controls">
                @Html.TextBox("year")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Month</label>
            <div class="controls">
                @Html.DropDownList("month",(SelectList)ViewBag.Months)
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Filter" class="btn btn-primary"/>
            </div>
        </div> 
    }
 }

<div id="grid">

</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: "@Url.Action("getApprovedRequisitions","HubAllocation")"

                },
                pageSize: 10,

                group: {
                    field: "Region", aggregates: [
                      
                    ]
                },

              
            },

            sortable: true,
            scrollable: false,
            pageable: true,
            columns: [
                   
                   
                    { field: "Commodity", title: "Commodity" },
                   
                   
                   
            ]

        });
    });
</script>