 
﻿@{
    ViewBag.Title = "AssignHub";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<fieldset>
    <legend>Assign Hub
    </legend>
</fieldset>




<script type="text/javascript">

    $(function () {
        var gridDataSource = new kendo.data.DataSource({
            transport: {
                read:  '/HubAllocation/GetRequisitionsForAssignment'
                
               
            },

            pageSize: 5
        });

        var $kgrid = $("#kGrid");
        var grid = $("#kGrid").kendoGrid({
            dataSource: gridDataSource,
            pageable: true,

          
            columns: [
               
                { field: "check_row", title: " ", width: 30, template: "<input class='check_row' type='checkbox' name='Selected' checked='checked' />" },
                { field: "RequisitionId", title: "RequisitionId" },
                { field: "RegionName" },
                { field: "ZoneName" },
                { field: "RequisitionNo" },
                { field: "Commodity", title: "Commodity" },
                { field: "Beneficiaries", title: "Beneficiaries" },
                { field: "Amount", title: "Amount" }
           
            ],

          
           

            
        });
    });

    

</script>

<div id="kGrid"></div>







@*<div id="grid">

</div>


<script>
    $(document).ready(function () {
        $("#grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: "@Url.Action("GetRequisitionsForAssignment","HubAllocation")"
                }
            
            },
            pageable: true,
            height: 400,
            columns: [
                { field: "check_row", title: " ", width: 30, template: "<input class='check_row' type='checkbox' />" },
                { field: "RequisitionId", title: "RequisitionId" },
                { field: "RegionName" },
                { field: "ZoneName" },
                { field: "RequisitionNo" },
                { field: "Commodity", title: "Commodity" },
                { field: "Beneficiaries", title: "Beneficiaries" },
                { field: "Amount", title: "Amount" }
            ],

            dataBound: function (e) {
                //Go Through Each visible row and add a data property with the unique ID from the dataset
                $(".k-grid-content tbody tr").each(function () {
                    var $tr = $(this);
                    var uid = $tr.attr("data-uid");
                    var data_entry = _.find(gridDataSource._data, function (data_source) {
                        return data_source.uid === uid;
                    });
                    $tr.addClass('kendo-data-row').attr('data-sympleTech-KendoGrid-rowid', data_entry.id);
                });



            }


        });



    });



            </script>*@


<br/>
<div>
   <button type="submit" class="btn btn-success">
  <i class="icon-user icon-white"></i> Assign hub
</button>
</div>
