@model IEnumerable<Cats.Models.ReliefRequisitionDetail>
@using GridMvc.Html
@{
    ViewBag.Title = "Request";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@Html.Grid(Model).Columns(columns =>
           {
                 columns.Add(foo => foo.ReliefRequisition.RequisitionNo).Titled("Requisition No.").SetWidth(110);
                 columns.Add(foo => foo.Commodity.Name).Titled("Commodity").Sortable(true);
                 columns.Add(foo => foo.Amount).Sortable(true);
        
           }).WithPaging(20)

<h1>Grid.MVC</h1>
    <hr />
    <div style="width:500px;">
        @Html.Grid(Model).Columns(columns => 
                    {
                        columns.Add(c => c.Commodity.Name).Titled("Client ID");
                        columns.Add(c => c.Amount).Titled("Name").Filterable(true);
                        columns.Add(c => c.ReliefRequisition.RequisitionNo).Titled("Email").SetFilterWidgetType("a");
                    }).WithPaging(3).Sortable(true)
    </div>

