@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section MainMenu
{
    @Html.Partial("_AdminMenuBar")
}

@section Leftbar
{
    @Html.Partial("_AdminLeftBar")
}

<div class="Span12">
    <h4> Administration Dashboard </h4>
    <ul>
        @Html.Partial("_DynamicAdminDashboard")
        </ul>
</div>
