@using Cats.Models.Constant
<ul class="nav nav-list">
    <li class="nav-header">Need Assessment Management</li>

    @*<li><a href="@Url.Action("Approved", "NeedAssessment")"><i class="icon-plus"></i> Approved  </a></li>*@
    <li><a href="@Url.Action("Index", "NeedAssessment",new {id=(int)PlanStatus.AssessmentCreated})"><i class="icon-pencil"></i> Draft  </a></li>
    <li><a href="@Url.Action("Index", "NeedAssessment",new {id=(int)PlanStatus.HRDCreated})"><i class="icon-pencil"></i> HRD Created Assessments </a></li>
    
</ul>
