@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Beneficiary numbers and duration of assistance ";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<fieldset>
    <legend>
        Beneficiary numbers and duration of assistance
    </legend>
</fieldset>  


<fieldset>
    <legend>
        
    </legend>
</fieldset>

<div ></div>