@using Cats.Models
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Toolbar
{
    <a data-buttontype="btn_new_record"  class="btn toolbar-btn " href="@Url.Action("AddRegion", "NeedAssessment")"></a>
}
@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="~/">Home</a> <span class="divider">/</span></li>
        <li class="active">Need Assessment</li>
    </ul>
}

    <h4 class="well">Create new Need Assessment</h4>
    

<fieldset>
    <legend>
        Beneficiary numbers and duration of assisstance
    </legend>
</fieldset>

@{var record = 0;}

@(Html.Kendo().Grid<NeedAssessmentHeaderViewModel>()

    .Name("NA").Columns(columns =>
    {
        columns.Bound(p => p.RegionName);
        columns.Bound(p => p.Season).Visible(true).Width(100);
        columns.Bound(p => p.NeedADate).Format("{0:dd/mm/yyyy}");
        columns.Bound(p => p.NeedACreaterName).Width(100);
        
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
           <div class="toolbar">
                    <label class="category-label" for="category">Show Zones by Region:</label>
                        @(Html.Kendo().DropDownList()
                            .Name("regions")
                            .OptionLabel("All")
                            .DataTextField("Name")
                            .DataValueField("AdminUnitID")
                            .AutoBind(false)
                            .Events(e => e.Change("regionsChange"))
                            .DataSource(ds =>
                            {
                                ds.Read("GetRegions", "NeedAssessment");
                            })
                        ) 
                        </div>
        </text>);

      
    
    })
    .HtmlAttributes(new { style = "height: 430px" })
    .Pageable()
    .Sortable()
    .Scrollable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(false)
        .Model(model => model.Id(p => p.NeedAID))
        .Read("NeedAssessmentRead", "NeedAssessment")
    )
)

<script>
    function regionsChange() {
        var value = this.value(),
		 	 grid = $("#grid").data("kendoGrid");

        if (value) {
           
            grid.dataSource.filter({ field: "Region", operator: "eq", value: parseInt(value) });
        } else {
            grid.dataSource.filter({});
        }
    }
</script>

<style scoped="scoped">
    #grid .k-toolbar
    {
        min-height: 27px;
        padding: 1.3em;
    }
    .category-label
    {
        vertical-align: middle;
        padding-right: .5em;
    }
    #category
    {
        vertical-align: middle;
    }
    .toolbar {
        float: right;
    }
</style>
