@using Cats.Areas.EarlyWarning.Models
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "NeedAssessmentToBeApproved";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



@section LeftBar
{
   @Html.Partial("_NeedAssessmentPartial");
}

<fieldset>
    <legend>
       Need Assessment To Be Approved
    </legend>
</fieldset>

@{var record = 0;}

@(Html.Kendo().Grid<NeedAssessmentViewModel>()

    .Name("NeedAssessment").Columns(columns =>
                            {
                                columns.Template(t => { }).Title("No").ClientTemplate("#= renderNumber(data) #").Width(30);
                                columns.Bound(p => p.NeedACreatedDate).Format("{0:MM/dd/yyyy}").Title("Date");
                                columns.Bound(p => p.CreaterUser).Title("Created By");
                                //columns.Bound(p => p.NeedAApproved).Template(@<text></text>).ClientTemplate("<input type='checkbox' #= NeedAApproved ? checked='checked' : '' # class='check_row'/>");
                                columns.Command(p => p.Custom("Approve").Click("onApprove"));
                            })
      .Editable(editable => editable.Mode(GridEditMode.InLine))
      .Pageable()
      .Sortable()
      .ColumnMenu()
      .DataSource(datasource => datasource.Ajax()
      .Model(model => model.Id(p => p.NAId))
      .Read(read => read.Action("NeedAssessmentsToBeApproved", "NeedAssessment"))
      
      )
      
      )
  
<br/>


<div id="modalWindow">
    <h6>Approve Need Assessment?</h6>
    <button id="yes" class="k-button">Yes</button>
    <button id="no" class="k-button">No</button>
</div>
<script>
    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Approve confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });
</script>
<script>

    function onApprove(e) {
        e.preventDefault();
        var grid = this;
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var row = $(e.currentTarget).closest("tr");
        wnd.center().open();

        $("#yes").click(function () {

            window.location = "Approve/" + dataItem.NaHeaderId;
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }
</script>
<script>
    function dataBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }
</script>

