.filterPanel 
{
    float:left;
   /* width: 18%;*/
    border-color:Gray;
    padding-left: 0px;
    border-style: solid;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -khtml-border-radius: 10px;
    min-width: 160px;
    margin-left: 0px;
}
.formelts {
    margin-left: 7px;
    padding: 7px;
}
.filterPanel ul 
{
    margin-left: 5px;
}
.filterPanel fieldset 
{
    margin-left: 0px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius:10px;
    -khtml-border-radius: 10px;
    padding-right:0px;
}

.filterPanel label 
{
    clear: both;
	
}

.filterPanel li 
{
    list-style: none;
    padding-bottom: 2px;
}

.contentPanel {
	float: left;
	width:80%;
	/*border-style: solid;
    border-color:Gray;*/
    padding-left: 0px;
}
