<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportLib.Properties.Settings.CATS" connectionString="Data Source=.;Initial Catalog=CTS;Integrated Security=SSPI;"
            providerName="System.Data.SqlClient" />
        <add name="ReportLib.Properties.Settings.CTS" connectionString="Data Source=USER-PC;Initial Catalog=CTS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>