@model Cats.Areas.Settings.Models.ForgetPasswordRequestModel
@{
    ViewBag.Title = "ConfirmPasswordChange";
}

      




<html>
    <head>
        <meta charset="utf-8">
        <title>CATS Passowod change confirmation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/ico" href="~/Content/images/CATS_Blue.ico">
        <!-- Le styles -->
        <link href="~/Content/Login/bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/Login/App.css" rel="stylesheet">
        <link href="~/Content/Login/Login.css" rel="stylesheet">

      
        <link href="~/Content/assets/css/bootstrap-responsive.css" rel="stylesheet">
       
    </head>

    <body>
        <div id="login-container">
            <div></div>
            <div id="logo">
                <img src="~/Content/images/CATS.png">
            </div>

            <div id="login">
               

                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger">
                        <i class="icon-exclamation-sign"></i>
                        
                        @ViewBag.ErrorMessage
                    </div>
                }
                
                <div class="align-right widget-table"> 
                    <a href="@Url.Action("Login","Account")">Login</a>
                </div>
               
            </div>

        </div>
    </body>
</html>

