@{
    ViewBag.Title = "ConfirmPasswordChange";
}

<link rel="shortcut icon" type="image/ico" href="~/Content/images/CATS_Blue.ico">
        <!-- Le styles -->
        <link href="~/Content/Login/bootstrap.min.css" rel="stylesheet">
        @*<link href="~/Content/bootstrap.min.css" rel="stylesheet">*@
        <link href="~/Content/Login/App.css" rel="stylesheet">
        <link href="~/Content/Login/Login.css" rel="stylesheet">
        <link href="~/Content/assets/css/bootstrap-responsive.css" rel="stylesheet">


       

<div id="login-container">
    <div></div>
     

    <div id="login">
        <h2>Your password has been changed.</h2>
        <br/>
        confirmation
        <br/>
        <div class="well align-right widget-table"> 
            <a href="@Url.Action("Login","Account")">Login</a>
        </div>
    </div>
</div>
