
@model Cats.Areas.Settings.Models.ForgetPasswordRequestModel
@{
    ViewBag.Title = "ForgetPasswordRequest";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}

@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_forget_password"></a>
}

<div>
    <h4>Forget Password</h4>
</div>
@using (Html.BeginForm("ForgetPasswordRequest", "Account", FormMethod.Post, new { id = "frm_forget_password" }))
{
    @Html.ValidationSummary(true)
    <div class="well form-horizontal">
        <div class="control-group">
            <div class="control-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="controls">
                @Html.EditorFor(m=>m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
    </div>
   </div>        
}



