
@model Cats.Areas.Settings.Models.ForgetPasswordRequestModel
@{
    ViewBag.Title = "ForgetPasswordRequest";
   
}


        




        



<html>
    <head>
        <meta charset="utf-8">
        <title>Forgot Password</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" type="image/ico" href="~/Content/images/CATS_Blue.ico">
        <!-- Le styles -->
        <link href="~/Content/Login/bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/Login/App.css" rel="stylesheet">
        <link href="~/Content/Login/Login.css" rel="stylesheet">

        <link href="~/Content/assets/css/bootstrap-responsive.css" rel="stylesheet">
     
    </head>

    <body>
        <div id="login-container">
            <div></div>
            <div id="logo">
                <img src="~/Content/images/CATS.png">
            </div>

            <div id="login">
                <h3>Welcome to CATS.</h3>
                <h5>Please enter your user name to reset your password.</h5>

                @if (ViewBag.HasError != null)
                {
                    <div class="alert alert-danger">
                        <i class="icon-exclamation-sign"></i>
                        <h4>Error</h4>
                        @ViewBag.ErrorMessage
                    </div>
                }

                @using (Html.BeginForm("ForgetPasswordRequest", "Account", FormMethod.Post, new { @class = "form", @id = "login-form" }))
                {
               
                    <div class="form-group">
                        
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username", @required = "required", @id = "login-username" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
            
                    <div class="form-group">
                        <button type="submit" id="login-btn" class="btn btn-tertiary">Reset Password &nbsp;  <i class="ui-icon-power"></i></button>
                    </div>           

                }
             
                <div class="align-right widget-table"> 
                    <div class="align-right " ><a style="font-weight: bold" href="@Url.Action("Login","Account")">Login</a></div>
                </div> 
            </div>

        </div>
    </body>
</html>
