 @using Cats.Web.Hub.Helpers
@model String


@{
    var id = ViewData.TemplateInfo.HtmlFieldPrefix;// GetFullHtmlFieldId(string.Empty);
 }
  @(Html.TextBox("", null, new { @id = id, @name = @id})) 
 
@* <script>
            $('#BillOfLoading').change(function () {
                alert("why");
            }
            );*@
<script type="text/javascript">
        var jsValue = '@Model';
        $(function () {
            if (jsValue == '')
                $('#@id').val(null);
            else
                $('#@id').val(parseFloat(jsValue));
        });

        $('#BillOfLoading').keyup(function () {
            var params = {};
            var clientVal = true;
            params['BillOfLoading'] = $(this).val();
            var url = '@Url.Action("IsBillOfLoadingDuplicate", "GiftCertificate")';
            var gr = $('#Grid').data().tGrid;
            if (gr != null) {
                $.each(gr.data, function (i) {
                    if (gr.data[i].BillOfLoading == params['BillOfLoading'] && params['BillOfLoading'] != '') {
                        clientVal = false;
                        $("<div id='Dialog_Store_Man'><strong> There is a receord with the same Bill of loading " + params['BillOfLoading'] + "</Strong></div>").dialog({
                            autoOpen: true,
                            modal: true,
                            title: "Duplicate Bill Of Loading",
                            content: "",
                            buttons: {
                                "OK": function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                      //  break;
                    }
                        
                });

            }
            if (clientVal && params['BillOfLoading'] != '') {
                $.getJSON(url, params, function(duplicate) {
                    if ((duplicate != null && duplicate == true)) {

                        $("<div id='Dialog_Store_Man'><strong> There is a receord with the same Bill of loading " + params['BillOfLoading'] + "</Strong></div>").dialog({
                            autoOpen: true,
                            modal: true,
                            title: "Duplicate Bill Of Loading",
                            content: "",
                            buttons: {
                                "Ok": function() {
                                    $(this).dialog("close");
                                }
                            }
                        });
                    }

                });

            }
        });
    </script>    
