
<script type="text/javascript" src="~/Scripts/js/exporting.js"></script>
<script type="text/javascript" src="~/Scripts/js/highcharts.js"></script>
<script type="text/javascript">


    $(function () {

        $.getJSON('@Url.Action("BarBeneficiaries","Dashboard")', {}, function (data) {
            var json = data;
            var jsondata = [];

            for (var i in json) {
                // var serie = new Array(json[i].Projects, json[i].Bugs);
                jsondata.push([json[i].RegionName, json[i].RequestsCount]);
            }

        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'No Beneficiaries By Regions'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [

                    json.RegionName
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'No Of Beneficiaries'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: json
        });
    });

</script>

<html>
    <body>
  <div class="span12" id="container">

        </div>
        </body>
    </html>
