@model Cats.Models.Hub.SIReportModel

@{
    ViewBag.Title = "SI Search and Report";
}

<h2>SI Search and Report</h2>

@using(Html.BeginForm()) {
    <table class="borderless">
        <tr>
            <td>SI / Batch Number</td>
            <td>@Html.TextBox("siNumber")</td>
        </tr>
        <tr>
            <td></td>
            <td><input class="t-button" style="width: 80px;height:25px;" type="submit" value="Search" /></td>
        </tr>
    </table>
    
    }

<br />
    <h3>Recieved at Hubs</h3>
@(Html.Telerik().Grid(Model.Recieved).Name("recieveGrid").Columns(col =>
{
    col.Bound(c => c.Date).Format("{0:d}").Width(50);
    col.Bound(c => c.GRN).Width(50);
    col.Bound(c => c.Warehouse).Width(90);
    col.Bound(c => c.Store).Width(100);
    col.Bound(c => c.Commodity).Width(50);
    col.Bound(c => c.Quantity).Width(90);
})
    
) 

<br />

    <h3>Dispatched To FDPs</h3>
@(Html.Telerik().Grid(Model.Dispatched).Name("dispatchGrid").Columns(col =>
{
    col.Bound(c => c.Date).Format("{0:d}");
    col.Bound(c => c.GIN).Width(50);
    col.Bound(c => c.Warehouse);
    col.Bound(c => c.Commodity);
    col.Bound(c => c.Quantity).Format("{0:N3}");
    col.Bound(c => c.Region);
    col.Bound(c => c.Zone);
    col.Bound(c => c.Woreda);
    col.Bound(c => c.FDP);
    
})
    
)


