@using Cats.Web.Adminstration.Models.ViewModels
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Commodity Type";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h4 class="page-header">Commodity Type</h4>

@(Html.Kendo().Grid<CommodityTypeViewModel>()
.Name("grid")
.Columns(columns=>
        {
            columns.Bound(c => c.Name);
           // columns.Bound(c => c.CommodityTypeId);
            columns.Command(c => c.Destroy()).Width(100);
        }).ToolBar(toolbar =>
                         {
                             toolbar.Save();
                             toolbar.Create();
                         })
             .Editable(edit => edit.Mode(GridEditMode.InCell))
             .Pageable()
            .Selectable(t => t.Mode(GridSelectionMode.Single))
             .Navigatable()
             .DataSource(datasource=>
                 datasource
                    .Ajax()
            .PageSize(10)
     .Model(m=>m.Id(t=>t.CommodityTypeId))
    .Read("CommodityType_Read","CommodityType")
    .Create("CommodityType_Create","CommodityType")
    .Update("CommodityType_Update","CommodityType")
    .Destroy("CommodityType_Destroy","CommodityType")
    )
    )