@using Cats.Areas.EarlyWarning.Models
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "_commdityList";
}


<h4>Commodities </h4>
<div style="width: 200px">
@(Html.Kendo().Grid<RequestDetailCommodityViewModel>()
      .Name("commodityGrid")
          .Columns(columns =>
              {
                  columns.Bound(p => p.Commodity);
                  columns.Command(p => p.Custom("Delete").Click("onDelete"));
              }

      )
              .HtmlAttributes(new { style = "height:430px;" })
              .DataSource(dataSource => dataSource
             .Ajax() 
            .Model(model => model.Id(p => p.CommodityID))
            //.Create(update => update.Action("Commodity_Create", "Request", new { id = ViewBag.RequestID }))
            .Read(read => read.Action("Commodity_Read", "Request", new { id = ViewBag.RequestID }))
            //.Update(update => update.Action("Commodity_Update", "Request"))
            //.Destroy(update => update.Action("Commodity_Destroy", "Request", new { id = ViewBag.RequestID }))
            )
      )
</div>
<script type="text/javascript">
    function onDelete(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //window.location = "@Url.Action("DeleteCommodity", "Request")" + "/" + dataItem.CommodityID;         
    }
</script>