@using Cats.Models.Constant
<div class="form-verticalw" style="border:solid 1px #CCC; border-radius:6px; padding:6px; margin-bottom:6px;">
        <!--
    <div class="input-prepend input-append">
        <span class="add-on">$</span>
        <input  id="appendedPrependedInput" type="text">
        <span class="add-on">.00</span>
    </div>
            -->
    <div class="span5 form-vertical" >

            <div class="control-group">
            <div class="control-label">
                <label>Request Date:</label>
            </div>
            <div class="controls">
                Between <input type="text" class="input-small" /> and <input type="text" class="input-small" />
                
            </div>
        </div>

    </div>
    <div class="span3 form-vertical">
        <div class="control-group">
            <div class="control-label">
                <label>Region:</label>
            </div>
            <div class="controls ">
                <select class="input-medium" ></select>
            </div>
        </div>
           
    </div>
    <div class="span3 form-vertical" >
        <div class="control-group">
            <div class="control-label">
                <label>Program:</label>
            </div>
            <div class="controls ">
                <select class="input-medium"></select>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>

