<ul class="nav nav-list">
    <li class="nav-header">Regional Request</li>
    <li><a href="@Url.Action("Create", "Request")"><i class="icon-plus"></i>New Request</a></li>
    <li><a href="#"><i class="icon-inbox"></i>Draft Requests</a></li>
    <li><a href="#"><i class="icon-list-ul"></i>Submited Requests</a></li>

    <li class="divider"></li>
    <li><a href="#"><i class="icon-print"></i>Print</a></li>
    <li><a href="#"><i class="icon-share"></i>Export</a></li>

</ul>
