@using Cats.Models.Constant
<ul class="nav nav-list">

    <li class="nav-header">Regional Request</li>      
    
    <li><a href="@Url.Action("Index","Request",new{id=(int)RegionalRequestStatus.Draft})"><i class="icon-inbox"></i> Draft </a></li>
    <li><a href="@Url.Action("Index","Request",new{id=(int)RegionalRequestStatus.Approved})"><i class="icon-envelope"></i> Submited </a></li>
    <li><a href="@Url.Action("Index","Request",new{id=(int)RegionalRequestStatus.FederalApproved})"><i class="icon-check-sign"></i> Approved </a></li>
    <li><a href="@Url.Action("Index","Request",new{id=-1})"><i class="icon-list-ul"></i> All </a></li>
</ul>
