@using Cats.Areas.EarlyWarning.Models
@using Cats.Models.Constant
@using Kendo.Mvc.UI



@{
    ViewBag.Title = "Regional Relief Requests";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="well">
    <h4 class="page-header">Regional Monthly Relief Requests</h4>
</div>
@section LeftBar
{
   

}
 @using (Html.BeginForm())
    {
        <div class="control-group">
            <label class="control-label">Year</label>
            <div class="controls">
                @Html.TextBox("year")
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Month</label>
            <div class="controls">
                @Html.DropDownList("month",(SelectList)ViewBag.Months)
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Filter" class="btn btn-primary"/>
            </div>
        </div> 
    }
@Html.ActionLink("New","New","Request")

@(Html.Kendo().Grid((IEnumerable<RegionalRequestViewModel>)ViewBag.RegionalRequests).Name("requestgrid")
.Columns(columns =>
             {
                 columns.Bound(request => request.ReferenceNumber);
                 columns.Bound(request => request.RequestDateEt);
                 columns.Bound(request => request.Program);
                 columns.Bound(request => request.Round);
                 columns.Bound(request => request.Region);
                 columns.Bound(reqquest => reqquest.Year);
                 columns.Bound(request => request.Status);

             }).Sortable().Pageable())
