@model List<int?>
@using Kendo.Mvc.UI
@using Cats.Helpers

@{
    var gridid = Guid.NewGuid().ToString();
}
<style>
    .action-link {
        display: none;
    }

    .assign-code3 {
        display: block;
    }
</style>


@(Html.Kendo().Grid<Cats.Models.RequisitionViewModel>()
    .Name("ProjectCodegrid" + gridid)
    .Columns(columns =>
    {
        columns.Bound(e => e.RequisitionNo).Width(120).Title("Requisition No").Filterable(false);
        columns.Bound(e => e.Program).Width(120).Title("Program").Filterable(true);
        columns.Bound(e => e.Month).Width(120).Title("Month").Filterable(true);
        columns.Bound(e => e.Round).Width(120).Title("Round");
        columns.Bound(e => e.Region).Width(120).Title("Region").Filterable(false);
        columns.Bound(e => e.Zone).Width(120).Title("Zone").Filterable(false);
        columns.Bound(e => e.Commodity).Width(110).Filterable(false);
        columns.Bound(e => e.Amount).Width(140).HeaderHtmlAttributes(new { style = "overflow: visible; white-space: normal; ", title = "Amount Allocated", @class = "cats-unit-pref-grid" }).Format("{0:N2}").HtmlAttributes(new { align = "Right" }).HtmlAttributes(new { style = "text-align: right; font-size: 12px; " }).Filterable(false);
        //columns.Bound(e => e.StrRequisitionDate).Title("Requested On").Width(140);
        columns.Bound(e => e.BenficiaryNo).Title("Beneficiaries").Width(120).HeaderHtmlAttributes(new { style = "overflow: visible; white-space: normal;", title = "Benficiary No" }).Format("{0:n0}").HtmlAttributes(new { align = "Right" }).HtmlAttributes(new { style = "text-align: right; font-size: 12px; " }).Filterable(false);
        columns.Bound(e => e.Status).Title("").Width(120).ClientTemplate("<a class='action-link assign-code#=Status#' href='" + @Url.Action("Index", "FDPSIAllocation", new { Area = "Logistics", regionid = ViewBag.regionId }) + "&RequisitionID=#=RequisitionId#'>PC/SI Allocate</a>  ").Filterable(false);
        columns.Command(e=>e.Custom("Uncommmit").Click("onUnCommit")).Width(120);
        //columns.Bound(e => e.Round).Width(120).Title("Round");
    })
   
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .Read(read => read.Action("AllocateProjectCode", "DispatchAllocation", new { regionId = Model[0], status = Model[1] }))

                           // .PageSize(5)
                         )
                         .Scrollable(scroll => scroll.Height(350))
                         .Selectable(select => select.Mode(GridSelectionMode.Single))
                         .Navigatable()
                         .Filterable(filterable => filterable
                             .Extra(false)
                             .Operators(operators => operators
                                 .ForString(str => str.Clear()
                                     .StartsWith("Starts with")
                                     .IsEqualTo("Is equal to")
                                     .IsNotEqualTo("Is not equal to")
                          )))
        //.Filterable()
                         .Sortable()
                         .HtmlAttributes(new { style = "height:350px;" })
        //.Pageable()
)


<script>
    function roundChange(e) {
        e.preventDefault();
        var value = this.value();
        var grid = $("#ProjectCodegrid" + '@gridid').data("kendoGrid");
        if (value) {
            grid.dataSource.filter({ field: "Round", operator: "eq", value: parseInt(value) });

        } else {
            grid.dataSource.filter({});
        }
    }
    
    function onUnCommit(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = "@Url.Action("UncommitRequsition","DispatchAllocation")" + "/" + dataItem.RequisitionId;
    }
</script>