@model IEnumerable<Cats.Models.Hubs.ViewModels.ReplicationViewModel>




<div style="min-height: 500px; padding-top:20px;">

<div style="margin-bottom:20px;">
        <input type="button" value="Refresh" class="t-button"  id="refresh"/>
    </div>

        @(Html.Telerik().Grid(Model)
            .Name("ReplicationOneGrid")
            .Columns(columns =>
            {
                columns.Bound(o => o.PartitionId);
                columns.Bound(o => o.HubName);
                columns.Bound(o => o.PartitionCreatedDate);
                columns.Bound(o => o.LastUpdated);
                columns.Bound(o => o.LastSyncTime);
                columns.Bound(o => o.LastAction);
                columns.Bound(o => o.HasConflict);
                columns.Bound(o => o.IsActive);
            })
            .DataBinding(dataBinding => 
            {
                dataBinding.Ajax().Select("ReplicationGrid", "Replication", new { publication = 1 });
            })
            .Pageable(paging => paging.Enabled(true))
        )
    </div>