@using Cats.Web.Hub.Helpers


@{
    ViewBag.Title = Html.Translate("Change Password");
}

<h2>@Html.Translate("Change Password")</h2>
<p>
   @Html.Translate("Your password has been changed successfully.")
</p>
