@model System.Collections.Generic.List<Cats.Models.Hubs.HubSetting>
@using Cats.Web.Hub.Helpers
<table>
    <tr>
        <th>@Html.Translate("Setting")</th>
        <th>@Html.Translate("Value")</th>    
    </tr>
    @foreach (var item in Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.ValueType</td>
        </tr>
    }
</table>