@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}


<h4>Application Log List</h4>

@(Html.Kendo().Grid<Cats.Models.Log>()
    .Name("grid")
    .Columns(columns =>
        {
            columns.Bound(p => p.Thread);
            columns.Bound(p => p.Level);
            columns.Bound(p => p.Logger);
            columns.Bound(p => p.Message);
            columns.Bound(p => p.Exception);
            columns.Bound(p => p.LogUser);
            columns.Bound(p => p.Date).Format("{0:MM/dd/yyyy}");           

        })
    .Pageable()
    .Sortable()
    .Filterable()
    .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(8)
            .Model(model => model.Id(p => p.Id))
            .Read(read => read.Action("Log_Read", "Log"))

    )

)
