@{
    ViewBag.Title = "ChangePasswordSuccess";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}

@section Toolbar
{
    <a class="btn toolbar-btn " data-buttontype="btn_save" data-submittedform="frm_change_password"></a>
}
<div>
    <h4>Password Successfully Changed</h4>
</div>