@using Kendo.Mvc.UI
@model IEnumerable<Cats.Models.Security.UserInfo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section MainMenu
{
    @Html.Partial("_AdminMenuBar")
}

@section Leftbar
{
    @Html.Partial("_AdminLeftBar")
}

<h4 class="page-header">User Accounts</h4>
<div>
    <a href="@Url.Action("New", "Users")" class="btn btn-success">Create new user</a>
</div>
<br />

@(Html.Kendo().Grid(Model)
    .Name("Users")
    .Columns(columns =>
    {
        columns.Bound(u => u.UserName).Title("User Name").ClientTemplate(
        "<a href='" + Url.Action("UserProfile", "Users", new { id = "#=UserAccountId#" }) + " '>#=UserName#</a> "
        );
        columns.Bound(u => u.FullName).Title("Full Name");
        columns.Bound(u => u.Disabled).Title("Disabled Account");
        columns.Bound(u => u.LoggedIn).Title("Currently Logged In");
        columns.Bound(u => u.LanguageCode).Title("UI Language");
        columns.Bound(u => u.Keyboard).Title("Keyboard Language");
        columns.Bound(u => u.Calendar).Title("Calendar Preference");
        columns.Bound(u => u.UserName).Title("User Name").ClientTemplate(


           "<a href='" + Url.Action("EditUserRoles", "Users", new { UserName = "#=UserName#" }) + " '>Edit Role</a> "
           );
    })
    .Pageable()
    .Sortable()
    .Scrollable()
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("UsersList", "Users"))
    )
   
)


@*<div class="btn-group">
    <button class="btn"><i class="icon-cog"></i></button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Disable Account</a></li>
        <li><a href="#">Reset</a></li>
        <li class="divider"></li>
        <li><a href="#">Delete</a></li>
    </ul>

</div>*@


