@using Cats.Web.Hub.Helpers
<div>
    <p>
    Please set the following requistion properties to continue.
    </p>
    <br/><br/>
    <div class="clear"></div>
    <button class="t-button" type="button" onclick="LoadFirstStep()" value="@Html.Translate("Go Back To Step One")">@Html.Translate("Go Back To Step One")</button>
    <button class="t-button" type="button" onclick="LoadStepOne()" value="@Html.Translate("Save and Continue")">@Html.Translate("Save and Continue")</button>
</div>
