@using System.Collections
@using Cats.Areas.Settings.Models.ViewModels
@using Kendo.Mvc.UI
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section Toolbar
{
  @Html.Partial("_AdminGridCommands");    
}
@section LeftBar
{
   @Html.Partial("_AdminLeftBar")
}
<script>
      $(document).ready(function () {
          setAsActive("#Donor");
      });
</script>
<div id="modalWindow">
    <h4>Are You Sure You Want to Delete this Donor?</h4>
    <button id="yes" class="k-button">Yes</button>
    <button id="no" class="k-button">No</button>
</div>
<script>
    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });
</script>

<div>
    <h4>Donors</h4>
</div>
@(Html.Kendo().Grid<DonorModel>()
    .Name("grid")
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Sortable()
    .Filterable()
    .HtmlAttributes(new { style = "height:400px;" })
    .Scrollable()
    .Navigatable()
    .Columns(columns =>
        {
            columns.Bound(p => p.Name);
            columns.Bound(p => p.DonorCode);
            columns.Bound(p => p.LongName);
            columns.Bound(p => p.IsResponsibleDonor);
            columns.Bound(p => p.IsSourceDonor);
            columns.Command(command => command.Custom("Delete").Click("OnDelete"));
        })

    .DataSource(dataSource => dataSource
          .Ajax()
           .Model(model => model.Id(p => p.DonorID))
           .Read(read => read.Action("Donor_Read", "Donor"))
           .Update(update => update.Action("Donor_Update", "Donor"))
           .Create(create => create.Action("Donor_Create", "Donor"))
           //.Destroy(destroy => destroy.Action("Donor_Destroy", "Donor"))
 
      ))
<script>

    function OnDelete(e) {
        e.preventDefault();
        var grid = this;
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var row = $(e.currentTarget).closest("tr");
        wnd.center().open();

        $("#yes").click(function () {

            window.location = "@Url.Action("Delete", "Donor")" + "/" + dataItem.DonorID;
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }
</script>
<script type="text/javascript">

    //register custom validation rules
    (function ($, kendo) {
        $.extend(true, kendo.ui.validator, {
            rules: { // custom rules
                productnamevalidation: function (input, params) {
                    //check for the rule attribute 
                    if (input.filter("[data-val-productnamevalidation]").length && input.val()) {
                        return /^[A-Z]/.test(input.val());
                    }
                    return true;
                }
            },
            messages: { //custom rules messages
                productnamevalidation: function (input) {
                    // return the message text
                    return input.attr("data-val-productnamevalidation");
                }
            }
        });
    })(jQuery, kendo);
    </script>

