*
{
    font-family:'Century Gothic';
}
.state,.flow
{
    position:absolute;

}
    .state .content, .flow .content
    {
        margin:6px;
        border:solid 1px #CCC;
        line-height:30px;
        width:200px;
        text-align:center;
        border-radius:4px;
        background:#FFF;
        font-size:12px;
        
    }
    .flow .content
    {
         line-height:20px;
         font-size:10px;
         border-radius:8px;
         color:#08F;
          border:solid 1px #08F;
    }
.flow
{
    //border:solid 1px #ccc;
}
 .statetype-0 .content
{
    background:#b6ff00;
}
.statetype-2 .content
{
    background:#ffa5a5;
}
.state .connector
{
    width:6px;
    height:6px;
    
    position:absolute;
}
.state .left-connector, .state .right-connector
{
    top: 18px;
}
.state .top-connector, .state .bottom-connector
{
    left: 102px;
}
.state .left-connector
{
    left:0;
}
.state .right-connector
{
    right:0;
}
.state .top-connector
{
    top:0;
}
.state .bottom-connector
{
    bottom:0;
}

.right_bar
{
    position:fixed; 
    top:100px; 
    bottom:50px; 
    
    right:10px; 
    width:230px;
    border:solid 1px #CCC;
}
.footer
{
    position:fixed;
    bottom:0px;
}