body {
}
.dashboard { float: left; width: 100%;}
.dashboard3Col {width:100%; float:left;}
.dashboardCol {float:left; width:29%; overflow:hidden; margin:20px;  overflow-y:scroll}
 
.dashboardItem { margin:0 10px 10px 0; border:solid 1px #e7e7e7;}
.dashboardItemHeader { font-size:1.2em; font-weight:bold; padding:10px 15px; background-color:#dbdbdb;}
.dashboardItemBody { margin:10px; overflow:hidden;}
.dashboardFooter {clear:both; width:100%; background-color:Red;}
