@{
    ViewBag.Title = "Status";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h4>Status</h4>


@*<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>*@
