@using Cats.Areas.EarlyWarning.Models
@using Kendo.Mvc.UI
@using Cats.Helpers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@{
    var user = UserAccountHelper.GetUser(HttpContext.Current.User.Identity.Name);
    var cal = user.Calendar; 
}

@section LeftBar
{
   @Html.Partial("_rationLeftBar");
}
<div id='dialogDiv' class='modal hide fade in'>
    <div id='dialogContent'></div>
</div>

<h4>Rations</h4>
@(Html.Kendo().Grid<RationViewModel>().Name("grid")
.Columns(columns =>
             {
                 columns.Template(t => { }).Title("No").ClientTemplate("#= renderNumber(data) #").Width(10);
                 columns.Bound(p => p.ReferenceNumber).ClientTemplate("<a href='" + Url.Action("Details", "Ration", new { id = "#=RationID#" }) + " '>#=ReferenceNumber#</a>  ");
                 columns.Bound(p => p.CreatedBy);
                 if (cal.ToLower() == "ec")
                 { columns.Bound(p => p.CreatedDateEC); }
                 else
                 { columns.Bound(p => p.CreatedDate); }

                 columns.Bound(p => p.IsDefaultRation);
             }).Events(ev => ev.DataBound("resetRowNumber"))
             .DataSource(datasource=>datasource.Ajax().Read("Ration_Read","Ration")))
@section Scripts
{
  
}

<script type="text/javascript">
    $(function () {

        //Optional: turn the chache off
        $.ajaxSetup({ cache: false });

        $('#btnCreate').click(function () {
            $('#dialogContent').load(this.href, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        });
    });

    function bindForm(dialog) {
        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#dialogDiv').modal('hide');
                        // Refresh:
                        // location.reload();
                    } else {
                        $('#dialogContent').html(result);
                        bindForm();
                    }
                }
            });
            return false;
        });
    }
  

</script>
