<fieldset>
    <legend>Area</legend>
    <li>
        <label>Region</label>
    </li>
    <li>
        <div>
            @(Html.Telerik().ComboBox()
                        .Name("AreaId")
                        .BindTo(new SelectList(Model.Areas, "AreaId", "AreaName"))
                        .CascadeTo("ZoneId")
                        .Placeholder("All")
                        .SelectedIndex(0)
                        .ClientEvents( e => e.OnChange("onReportFileterChange"))
                        .Filterable( filtering => { filtering.FilterMode(AutoCompleteFilterMode.StartsWith);})
                        .HighlightFirstMatch(true)
            )
            </div>
    </li>
    <li>
        <label>Zone</label>
    </li>
    <li>
        <div>
            @(Html.Telerik().ComboBox()
                        .Name("ZoneId")
                        .DataBinding(binding => binding.Ajax().Select("GetZonesReport", "AdminUnit"))
                        .CascadeTo("WoredaId")
                        .Placeholder("All")
                        .SelectedIndex(0)
                        .ClientEvents(e => e.OnChange("onReportFileterChange"))
                        .Filterable( filtering => { filtering.FilterMode(AutoCompleteFilterMode.StartsWith);})
                        .HighlightFirstMatch(true)
              )
        </div>
    </li>
    <li>
        <label>Woreda</label>
    </li>
    <li>
        <div>
            @(Html.Telerik().ComboBox().
                        Name("WoredaId")
                        .DataBinding(binding => binding.Ajax().Select("GetWoredasReport", "AdminUnit"))
                        .CascadeTo("FDPId")
                        .Placeholder("All")
                        .SelectedIndex(0)
                        .ClientEvents(e => e.OnChange("onReportFileterChange"))
                        .Filterable(filtering => { filtering.FilterMode(AutoCompleteFilterMode.StartsWith);})
                        .HighlightFirstMatch(true)
             )
        </div>
    </li>
    <li>
        <label>FDP</label>
    </li>
    <li>
        <div>
            @(Html.Telerik().ComboBox()
                        .Name("FDPId")
                        .DataBinding(binding => binding.Ajax().Select("GetFDPsReport", "FDP"))
                        .Placeholder("All")
                        .SelectedIndex(0)
                        .ClientEvents(e => e.OnChange("onReportFileterChange"))
                        .Filterable(filtering => { filtering.FilterMode(AutoCompleteFilterMode.StartsWith); })
                        .HighlightFirstMatch(true)
            )
        </div>
    </li>
</fieldset>