<div class="well" style="padding: 8px 0;">
    <ul class="nav nav-list">
        <li class="nav-header">Dashboard</li>
        <li class="active">
            <a href="#"><i class="icon-white icon-home"></i>Home</a>
        </li>

        <li class="nav-header">Configuration</li>
        <li>
            <a href="#"><i class="icon-folder-open"></i>Warehouses</a>
        </li>
        <li>
            <a href="#"><i class="icon-folder-open"></i>Hubs</a>
        </li>
        <li>
            <a href="#"><i class="icon-folder-open"></i>Hub Owners</a>
        </li>
        <li>
            <a href="#"><i class="icon-folder-open"></i>Stores</a>
        </li>

        <li class="nav-header">Commodity</li>
        <li>
            <a href="#"><i class="icon-check"></i>Commodity Type</a>
        </li>
        <li>
            <a href="#"><i class="icon-check"></i>Commodity</a>
        </li>
        <li>
            <a href="#"><i class="icon-check"></i>Commodity Grade</a>
        </li>
        <li>
            <a href="#"><i class="icon-check"></i>Commodity Source</a>
        </li>
        <li>
            <a href="#"><i class="icon-check"></i>Program</a>
        </li>
        <li>
            <a href="#"><i class="icon-envelope"></i>Donors</a>
        </li>
        <li>
            <a href="#"><i class="icon-check"></i>Units</a>
        </li>

        <li class="nav-header">Locations & FDPs</li>
        <li>
            <a href="#"><i class="icon-file"></i>Administrative Units</a>
        </li>
        <li>
            <a href="#"><i class="icon-file"></i>FDPs</a>
        </li>

        <li class="nav-header">Transactions & Journals</li>
        <li>
            <a href="#"><i class="icon-list-alt"></i>Journal</a>
        </li>
        <li>
            <a href="#"><i class="icon-list-alt"></i>Ledger</a>
        </li>

        <li class="nav-header">Translations
        </li>
        <li>
            <a href="#"><i class="icon-user"></i>Languages</a>
        </li>
        <li>
            <a href="#"><i class="icon-cog"></i>Translation Terms</a>
        </li>
        <li class="divider"></li>
        <li class="nav-header">Users & Roles</li>
        <li>
            <a href="@Url.Action("Index","Users")"><i class="icon-user"></i>Users</a>
        </li>
        <li>
            <a href="#"><i class="icon-group"></i>Groups </a>
        </li>
        <li class="divider"></li>
        <li class="nav-header">System Logs</li>
        <li>
            <a href="#"><i class="icon-picture"></i>Error Log</a>
        </li>
        <li>
            <a href="#"><i class="icon-camera-retro"></i>Audit Log</a>
        </li>
        <li>
            <a href="#"><i class="icon-info-sign"></i>Help </a>
        </li>
    </ul>
</div>
