
@using Kendo.Mvc.UI
@model List<Cats.Models.UserHub>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section Toolbar
{
    @*<a data-buttontype="btn_new_record" class="btn toolbar-btn " href="@Url.Action("Create", "Currency")"></a>*@
}
@section LeftBar
{
    @*@Html.Partial("_CurrencyLeftBar")*@;
}
<div id="modalWindow">
    <h4>Are You Sure You Want to Delete this User Hub?</h4>
    <button id="yes" class="k-button">Yes</button>
    <button id="no" class="k-button">No</button>
</div>
<script>
    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });
</script>

<div>
    <h4>List of users in Hub</h4>
</div>
@(Html.Kendo().Grid<Cats.Web.Adminstration.Models.ViewModels.HubUserViewModel>()
    .Name("grid")
    .Columns(columns =>
        {
            
            columns.ForeignKey(p => p.UserProfileID, (System.Collections.IEnumerable)ViewData["UserProfile"], "UserProfileID", "UserName").Title("User").Width(150);
            columns.ForeignKey(p => p.HubID, (System.Collections.IEnumerable)ViewData["Hub"], "HubID", "Name").Title("Hub").Width(150);
 
       columns.Command(command => command.Custom("Delete").Click("OnDelete"));
    })
    .ToolBar(toolbar =>
        {
            toolbar.Create();
            toolbar.Save();
        })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Pageable()
    .Sortable()
    .Filterable()
    .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(8)
            .Model(model => model.Id(p => p.UserHubID))
           .Read(read => read.Action("Read", "Read"))
           .Update(update => update.Action("HubOwnerUpdate", "Read"))
           .Create(create => create.Action("UserHubCreate", "Read"))
           .Destroy(destroy => destroy.Action("HubOwnerDestroy", "Read"))
 
     )
   
      )
<script>

    function OnDelete(e) {
        e.preventDefault();
        var grid = this;
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var row = $(e.currentTarget).closest("tr");
        wnd.center().open();

        $("#yes").click(function () {

            window.location = "@Url.Action("Delete", "UserWarehouse")" + "/" + dataItem.UserHubID;
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }
</script>

