﻿@using Cats.Helpers

@{
    ViewBag.Title = "Index";
    ViewBag.ViewWidth = "Wide";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div class=" span12 ">
    <h2>Welcome @Html.GetUserName()</h2>
    @Html.Partial("_DashboardDynamic")
</div>

    


@*<div class="">
    @Html.Partial("_Dashboard",Model)
</div>*@


