@*@model IEnumerable<Cats.Models.RegionalRequest>*@

﻿@using Cats.Helpers

@{
    ViewBag.Title = "Index";
    ViewBag.ViewWidth = "Wide";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

    <div class=" span12 ">
        <h3>Welcome to CATS</h3>
        
    <h4>Welcome @Html.GetUserName()</h4>

        @Html.Partial("_Dashboard")
    </div>


@*<div class="">
    @Html.Partial("_Dashboard",Model)
</div>*@

