﻿@using Cats.Helpers

@{
    ViewBag.Title = "Index";
    ViewBag.ViewWidth = "Wide";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div style="grid-row-align:center">
    <h2>Welcome @Html.GetUserName()</h2>
    <hr />
    
    @Html.Partial("_DashboardDynamic")
    
</div>