﻿@using Cats.Helpers

@{
    ViewBag.Title = "Index";
    ViewBag.ViewWidth = "Wide";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class=" span12 ">
    <h4 class="page-header">Welcome @Html.GetUserName()</h4>
    @Html.Partial("_DashboardDynamic")
</div>