

@{
    ViewBag.Title = "rfq";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}
@section LeftBar
{
   @Html.Partial("_BidSelectionPartial")
}

<h2>Price Quotation Data Entry</h2>
<h4>Please specify the bid no, Region and Transporter to continue</h4>

