

@{
    ViewBag.Title = "rfq";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}
@section LeftBar
{
    @using (Html.BeginForm("EditStart","PriceQuotation",FormMethod.Post))
    {
        <div class="control-group">
            <label class="control-label">Bid</label>
            <div class="controls">
               
                @Html.DropDownList("BidPlanID",String.Empty)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Region</label>
            <div class="controls">
             
                @Html.DropDownList("RegionID")
                
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Transporter</label>
            <div class="controls">
             
                @Html.DropDownList("TransporterID")
                
            </div>
        </div>
        
        <input type="submit" value="Select" class="btn btn-primary"/>
    }
}

<h2>Price Quotation Data Entry</h2>
<h4>Please specify the bid no, Region and Transporter to continue</h4>

