<ul class="nav nav-list">
    <li class="nav-header">Allocation</li>
    <li><a href="@Url.Action("ApprovedRequesitions", "HubAllocation", new { Area = "Logistics" })"><i class="icon-inbox"></i> Draft Allocations</a></li>
    <li><a href="@Url.Action("AllocateProjectCode", "ProjectAllocation", new { Area = "Logistics" })"><i class="icon-check"></i> Hub Allocated</a></li>
    <li><a href="#"><i class="icon-bullseye"></i> Completed</a></li>

    <li class="nav-header">Transport</li>
    <li><a href="#"><i class="icon-inbox"></i> Draft Requests</a></li>
    <li><a href="#"><i class="icon-check"></i> Transport Orders</a></li>

    <li class="divider"></li>
    <li><a href="#"><i class="icon-print"></i> Print</a></li>
    <li><a href="#"><i class="icon-share"></i> Export</a></li>

</ul>
