
    
        <ul class="nav nav-list " >
            @*<li class="nav-header">Allocation</li>
            <li><a href="@Url.Action("ApprovedRequisitions", "HubAllocation", new { Area = "Logistics" })"><i class="icon-inbox"></i> Draft Allocations</a></li>
            <li><a href="@Url.Action("AllocateProjectCode", "ProjectAllocation", new { Area = "Logistics" })"><i class="icon-check"></i> Hub Allocated</a></li>*@
            
            <li><a href="@Url.Action("Index", "NeedAssessment", new { Area = "EarlyWarning" })">Nedd assessment</a></li>
            <li><a href="#">HRD</a></li>
            <li><a href="@Url.Action("Index", "Ration", new { Area = "EarlyWarning" })">Ration</a></li>
            
        </ul>
  



