<div ng-app>
    <div ng-controller="ContractsController">
        <table class="table">
            <tr>
                <th>Contract Number</th>
                <th>Progress</th>
            </tr>

            <tr ng-repeat="sd in contractsData">
                <td>{{sd.contract}}
                </td>
                <td>
                    <div class="progress progress-success">
                        <div class="bar" style="width:{{sd.percentage | number:2}}%">
                            <span class="sr-only">{{sd.percentage | number:2}}% Completed</span>
                        </div>
                    </div>
                    <div>
                        Days before contract ends: {{sd.daysLeft}} 
                    </div>
                    <div>
                        Total contract duration: {{sd.duration}}
                    </div>
                </td>
            </tr>

        </table>
    </div>
</div>

<script type="text/javascript">
    function ContractsController($scope, $http) {

        $scope.contractsData = [];
        var onSuccess = function (data) {
            $scope.contractsData = data;
        };

        $scope.getContracts = function () {
            $http.post("@Url.Action("GetTransportConstractInfo", "Home", new { Area = "Logistics" })", null).success(onSuccess);
        };

        $scope.getContracts();
    }
    
</script>