<ul class="nav nav-list">

    <li class="nav-header">Language </li>

    <li><a href="@Url.Action("Index", "Language")"><i class="icon-inbox"></i>Languages </a></li>
    <li><a href="@Url.Action("Create","Language")"><i class="icon-plus"></i> New Language</a></li>

    <li class="divider"></li>

    <li class="nav-header">Translation </li>
    <li><a href="@Url.Action("Index","Translation")"><i class="icon-inbox"></i>Translation Terms</a></li>
    @*<li><a href="@Url.Action("Create","Translation")"><i class="icon-plus"></i>New Term</a></li>*@
   
     <li class="divider"></li>

    <li><a href="#"><i class="icon-print"></i> Print</a></li>
    <li><a href="#"><i class="icon-share"></i> Export</a></li>
</ul>
