@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section LeftBar
{
    @Html.Partial("_AllocationLeftBar")
}
@{
    ViewBag.Title = "Destinations";
}

<h2>Destinations</h2>
