@using Cats.Areas.Logistics.Models
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section LeftBar
{
    @Html.Partial("_TransportRequisitonLeftBar")
}
@section Toolbar
{
    <a data-buttontype="btn_new_record"  class="btn toolbar-btn " href="@Url.Action("Requisitions","TransportRequisition",new {Area="Logistics"})"></a>
}
<h4 class="page-header">Transport Requisition</h4>
@(Html.Kendo().Grid<TransportRequisitionViewModel>().Name("Grid").Columns(columns =>
{

    columns.Bound(requisition => requisition.TransportRequisitionNo).ClientTemplate("<a href='" + Url.Action("Details", "TransportRequisition", new { Area = "Logistics", id = "#=TransportRequisitionID#" }) + " '>#=TransportRequisitionNo#</a>  ");
    columns.Bound(requisition => requisition.RequestedBy);
    columns.Bound(requisition => requisition.DateRequested).HeaderHtmlAttributes(new { @class = "cats-date-pref-grid" });
    columns.Bound(requisition => requisition.CertifiedBy);
    columns.Bound(requisition => requisition.DateCertified).HeaderHtmlAttributes(new { @class = "cats-date-pref-grid" });
    columns.Bound(requisiton => requisiton.Status);
})
    .Editable(editable => editable.Mode(GridEditMode.PopUp))
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:430px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Model(model =>model.Id(p => p.TransportRequisitionID))
        .Read(read => read.Action("TransportRequisition_Read", "TransportRequisition"))
    ).Pageable()
)



