@using Cats.Models
@using Cats.Web.Adminstration.Models.ViewModels
@using Kendo.Mvc.UI
@{
    ViewBag.Title ="Commodity";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="modalWindow">
    <h4>Are You Sure You Want to Delete this Hub?</h4>
    <button id="yes" class="k-button">Yes</button>
    <button id="no" class="k-button">No</button>
</div>
<script>
    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Delete confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });
</script>

<h4 class="page-header">Commodity</h4>
@(Html.Kendo().Grid<CommodityViewModel>()
    .Name("grid")
    .Columns(columns=>
    {
        columns.Bound(t => t.CommodityID).Visible(false);
        columns.Bound(t => t.CommodityCode);
        columns.Bound(t => t.Name);
        columns.Bound(t => t.LongName);
        columns.ForeignKey(t => t.CommodityTypeID, (IEnumerable<CommodityType>) ViewData["CommodityTypes"], "CommodityTypeID", "Name");
        columns.ForeignKey(t => t.ParentID, (IEnumerable <Commodity>) ViewData["Commodities"], "CommodityID", "Name");
        columns.Bound(t => t.NameAM);
        columns.Command(command => command.Custom("Delete").Click("OnDelete"));

    }).ToolBar(toolbar =>
    {
        toolbar.Save();
        toolbar.Create();
    })
        .Editable(edit => edit.Mode(GridEditMode.InCell))
        .Pageable()
    .Selectable(t => t.Mode(GridSelectionMode.Single))
        .Navigatable()
             
        .DataSource(datasource=>
            datasource
                 
            .Ajax()
    .PageSize(10)
    .Model(model=>model.Id(p=>p.CommodityID))
    .Read("Commodity_Read","Commodity")
    .Create("Commodity_Create","Commodity")
    .Update("Commodity_Update","Commodity")
    //.Destroy("Commodity_Delete","Commodity")
      ))
<script>

    function OnDelete(e) {
        e.preventDefault();
        var grid = this;
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var row = $(e.currentTarget).closest("tr");
        wnd.center().open();

        $("#yes").click(function () {

            window.location = "@Url.Action("Commodity_Destroy", "Commodity")" + "/" + dataItem.CommodityID;
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }
</script>