@using Cats.Models
@using Cats.Web.Adminstration.Models.ViewModels
@using Kendo.Mvc.UI
@{
    ViewBag.Title ="Commodity";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h4 class="page-header">Commodity</h4>
@(Html.Kendo().Grid<CommodityViewModel>().Name("grid").Columns(columns=>
                                                      {
                                                         // columns.Bound(t => t.CommodityID);
                                                          columns.Bound(t => t.CommodityCode);
                                                          columns.Bound(t => t.Name);
                                                          columns.Bound(t => t.LongName);
                                                          columns.ForeignKey(t => t.CommodityTypeID, (IEnumerable<CommodityType>) ViewData["CommodityTypes"], "CommodityTypeID", "Name");
                                                          columns.ForeignKey(t => t.ParentID, (IEnumerable <Commodity>) ViewData["Commodities"], "CommodityID", "Name");
                                                          columns.Bound(t => t.NameAM);
                                                          columns.Command(t => t.Destroy());

                                                      }).ToolBar(toolbar =>
                         {
                             toolbar.Save();
                             toolbar.Create();
                         })
             .Editable(edit => edit.Mode(GridEditMode.InCell))
             .Pageable()
            .Selectable(t => t.Mode(GridSelectionMode.Single))
             .Navigatable()
             
             .DataSource(datasource=>
                 datasource
                 
                    .Ajax()
            .PageSize(10)
            .Model(model=>model.Id(p=>p.CommodityID))
    .Read("Commodity_Read","Commodity")
    .Create("Commodity_Create","Commodity")
    .Update("Commodity_Update","Commodity")
    .Destroy("Commodity_Delete","Commodity")))