<ul class="nav nav-list" style="margin-top: 80px;">
    <li class="nav-header">PSNP Pledge Management</li>
    <li><a href="#"><i class="icon-inbox"></i> Issue Pledge </a></li>

    
    <li class="divider"></li>
    <li><a href="#"><i class="icon-print"></i> Print</a></li>
    <li><a href="#"><i class="icon-share"></i> Export</a></li>
</ul>