@using Kendo.Mvc.UI
@model  IEnumerable<Cats.Models.TransportOrder>

@{
    ViewBag.Title = "Create Bid";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="well">
    <h4 class="page-header"> Bid Winner Transporters</h4>
    
</div>

@section LeftBar
{
    @using (Html.BeginForm("Index","DispatchLocations",FormMethod.Get))
    {
        <p class="control-list">Search:</p>
        <div class="control-group">
            <label class="control-label">Transporter </label>
        <div class="controls">
            @Html.TextBox("transporter")
        </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="Filter" class="btn btn-primary"/>
            </div>
        </div> 
        
    }

}

@(Html.Kendo().Grid((IEnumerable<Cats.Models.TransportOrder>)ViewData["Transporters"])
    .Name("BidWinners")
    .Columns(columns =>
        {
            columns.Bound(p => p.BidDocumentNo).Title("Bid Number");
            columns.Bound(p => p.Transporter.Name).Title("Transporter").Template(
                @<text>
                     <a href="@Url.Action("Details", "DispatchLocations", new { Area = "Procurement", id = item.TransporterID })">@Html.DisplayFor(modelItem => item.Transporter.Name)</a>                                       
                 </text> );   

        })
    .Pageable()
    .Sortable()
    .Filterable()
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .DataSource(dataSource => dataSource
          .Server()
             .Model(model => model.Id(p => p.TransporterID))
            .Read(read => read.Action("Index", "DispatchLocations"))
     )
   )


