@*@using (Html.BeginForm("BidProposal", "PriceQuotation", FormMethod.Post)) ;*@
@model Cats.Areas.Procurement.Models.WinnersGeneratorParameters


@using (Html.BeginForm())
{
    <div>
        <div class="span12" style="border: solid 1px #CCC; border-radius: 6px; padding: 6px; margin-bottom: 6px;">
            <div class="span4" align="center">
                <div class="control-group">
                    <div class="controls">
                        <label>BID Reference Number</label>
                        <div>
                            @Html.DropDownList("BidID", "Select BID")
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4" align="center">
                <div class="control-group">
                    <div class="controls">
                        <label>Region</label>
                        <div>
                            @Html.DropDownList("RegionID", "Select Region")
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4" align="left">
                <div class="controls">
                    <label>&nbsp;</label>
                    <div>
                        <input type="submit" value="Generate" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}