@model Cats.Models.Hub.Unit
@using Cats.Web.Hub.Helpers

@using (Html.BeginForm())
    {
    @Html.ValidationSummary(true)


        <div class="editor-label">
            @Html.LabelFor(model => model.Name, Html.Translate("Unit Name")) <span class="required">*</span>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

}

