    <li class="nav-header">Gift Cerificate</li>
    <li><a href="@Url.Action("Index","GiftCertificate",new{id=1})">Draft Gifts</a></li>
    <li><a  href="@Url.Action("Index","GiftCertificate",new{id=2})">Approved Gifts</a></li>
