@using Cats.Helpers
@using Cats.Security
@using Cats.Services.Security
    <li class="nav-header">Gift Cerificate</li>
<li>
    @Html.EarlyWarningOperationButton(
                        @Url.Action("Index", "GiftCertificate",new{id=1}),
                        EarlyWarningConstants.Operation.View_Gift_Certificate_list, "Draft Gifts")
</li>
<li>
    @Html.EarlyWarningOperationButton(
                        @Url.Action("Index", "GiftCertificate",new{id=2}),
                        EarlyWarningConstants.Operation.View_Approved_Gift_Certificate, "Approved Gifts")
</li>
