 <ul class="nav nav-list">
     <li class="nav-header">Ration</li>        
     <li><a id="btnCreate" href="@Url.Action("Create","Ration")"><i class="icon-plus"></i> New Ration</a></li>
 
     <li class="divider"></li>
     <li><a href="#"><i class="icon-print"></i> Print</a></li>
     <li><a href="#"><i class="icon-share"></i> Export</a></li>
    
 </ul>
@*@Html.ActionLink("Create", "Create", null, null, new { id = "btnCreate", @class = "btn btn-small btn-info" })*@

