@using LanguageHelpers.Localization
<style>
    .wizard a {
    padding: 10px 12px 10px;
    margin-right: 5px;
    background: #efefef;
    position: relative;
    display: inline-block;
}
.wizard a:before {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.wizard a:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}
.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}
.wizard a:first-child {
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
}
.wizard a:last-child {
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
}
.wizard .badge {
    margin: 0 5px 0 18px;
    position: relative;
    top: -1px;
}
.wizard a:first-child .badge {
    margin-left: 0;
}
.wizard .current {
    background: #007ACC;
    color: #fff;
}
.wizard .current:after {
    border-left-color: #007ACC;
}


/* ff anti-aliasing bug - http://coderwall.com/p/tpmsta */
.mywizard li {
    position: relative;
    background: #f5f5f5;
    padding-right: 30px;
    padding-left: 5px;
}

.mywizard li a:after, .mywizard li a:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.mywizard li a:after {
    border-color: rgba(245, 245, 245, 0);
    border-left-color: #f5f5f5;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
    margin-left: -30px;
}

.mywizard li a:before {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
    border-width: 30px;
    top: 50%;
    margin-top: -30px;
    margin-left: -30px;
}
.mywizard li .badge {
    vertical-align: text-bottom;
    padding-top: 3px;
}

</style><!--
<div class="wizard"> <a><span class="badge">1</span> Set Global Properties</a>
 <a><span class="badge">2</span> Specify Entry Scheme</a>
 <a class="current"><span class="badge badge-inverse">3</span> Create Test Entry</a>
 <a><span class="badge">4</span> Check Your Data and Generate Portal</a>

</div>
-->
<ul class="breadcrumb" data-role="main">
    <li><a href="~/">Homessssssss</a> </li>
    @{
        string home = Url.Action("Index", "Home", new { Area = "" });

        string[] page_url = PageContext.Page.Context.Request.Url.Segments;
        string url = home;
        int heirarchy_len = page_url.Length - 1;

        string last = page_url[heirarchy_len].Replace("/", "");
        int num;
        if (int.TryParse(last, out num))
        {
            heirarchy_len--;
        }
        for (int i = 1; i <= heirarchy_len; i++)
        {
            string item = page_url[i];
            string urlitem = item.Replace("/", "");
            url += item;
                
            if (i < heirarchy_len)
            {
				<li><span class="divider icon-chevron-right"></span><a href="@url">urlitem </a> </li>
            }
            else
            {
				<li class="active"><span class="divider icon-chevron-right"></span> @urlitem</li>
               
            }

        
                            
      }
                          
    }
</ul>
