@model Cats.Areas.GiftCertificate.Models.GiftCertificateViewModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">@LanguageHelpers.Localization.Translator.Translate("Approve Gift Certificate")</h3>
</div>


@using (Html.BeginForm("Approve", "GiftCertificate", FormMethod.Post, new { @class = "modal-form" }))
{
    @Html.ValidationSummary()

    <div class="modal-body">
        
        @Html.HiddenFor(model=>model.GiftCertificateID)
       
   
    <p>
        Are you sure you want to Approve?
    </p> 

    </div>
    <div class="modal-footer">
          <button class="btn btn-primary" type="submit">Yes</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
      
    </div>

}
