<ul class="nav nav-list">
    <li class="nav-header">PSNP Plan Management</li>
    <li><a href="javascript:"><i class="icon-inbox"></i> PSNP Lists </a></li>
    <li class="divider"></li>
    <li><a href="javascript:"><i class="icon-plus"></i> New Plan</a></li>
    
    <li class="divider"></li>
    <li><a href="#"><i class="icon-print"></i> Print</a></li>
    <li><a href="#"><i class="icon-share"></i> Export</a></li>
    <li class="nav-header">Reports</li>
    <li><a href="@Url.Action("Print", "RegionalPSNPPlan", new { id = ViewBag.PsnpPlan.RegionalPSNPPlanID })"><i class="icon-print"></i> Annual Plan</a></li>
</ul>
