@using Cats.Services.Security
@using LanguageHelpers.Localization
@{
    var user = (UserIdentity)HttpContext.Current.User.Identity;
    
    }
<style>
    .map
    {
        width:400px;
        height:400px;
        border:solid 1px #DDD;
    }

</style>
<link rel="stylesheet" href="~/Content/MapResources/openlayers/theme/default/style.css" type="text/css">
<script src="~/Content/MapResources/OpenlayersWrapper.js"></script>
<script src="~/Content/MapResources/openlayers/lib/OpenLayers.js"></script>


<div id="map1" class="map">
</div>
<script>
        
    $(function () {
        var layers = [
                       { name: "Ethiopia", url: "/Content/MapResources/MapData/ethiopiaJson.js" }
                       , { name: "Regions", url: "/Content/MapResources/MapData/ethiopiaRegions.js" }
        ]
        CreateMap("map1", { layers: layers });
    });
</script>
