@using Cats.Helpers
@using Cats.Models
@using Cats.Services.Security
@using LanguageHelpers.Localization

@{
    UserIdentity user = (UserIdentity)HttpContext.Current.User.Identity;
    var role = UserRoleHelper.GetUserRole(user.Profile.UserName);
    List<UIWidget> widgets = new List<UIWidget> { 
        new UIWidget{ Title = "Quick Shortcuts", Icon = "icon-bookmark", Source = "Dashboard/_Shortcuts" },   
        new UIWidget{ Title = "For Your Action", Icon = "icon-bullhorn", Source = "Dashboard/_Alerts" },
        new UIWidget{ Title = "Beneficiaries Chart", Icon = "icon-bar-chart", Source = "Dashboard/_BarBeneficiaries" },
        new UIWidget{ Title = "Requisitions based on status", Icon = "icon-bookmark", Source = "Dashboard/_RequisitionsBasedonStatus" },
        new UIWidget{ Title = "Regional Monthly Requests", Icon = "icon-bar-chart", Source = "Dashboard/_PieRequests" },
        new UIWidget{ Title = "Beneficiaries Comparison for the Last 6 Months", Icon = "icon-bookmark", Source = "Dashboard/_BarRegionalReqDetailCommodity" },
        new UIWidget{ Title=  "Need Assessment Summary", Icon ="icon-bar-chart", Source="Dashboard/_BarNeedAssessment" },
        //new UIWidget{ Title = "Quick Shortcuts", Icon = "icon-bookmark", Source = "" }
        };
    var cols = 2;
    int i = 0;                      
}

<link href="~/Content/DashboardWidget.css" rel="stylesheet">
<div class="row-fluid">
    @for (int c=0;c<cols;c++)
    {
        
    <div class="span6">
    @foreach (UIWidget widget in  widgets)
    {
        int even = (i / cols);
        i++;
       // @even
        if(even!=c)
        {    
        <div>
         <div class="widget stacked">
            <div class="widget-header">
                <i class="@widget.Icon"></i>
                <h3> @widget.Title</h3>
            </div>
            <div class="widget-content">
                @if(widget.Source=="")
                {
                }
                else
                {
                    @Html.Partial(widget.Source)
                }
            </div>
        </div>
            </div>
        }
    }
</div>
    }
</div>
