@using Cats.Services.Security
@using LanguageHelpers.Localization
@{
    var user = (UserIdentity)HttpContext.Current.User.Identity;
    
    }
<style>
    .map
    {
        width:400px;
        height:400px;
        border:solid 1px #DDD;
    }

</style>
<link rel="stylesheet" href="~/Content/MapResources/openlayers/theme/default/style.css" type="text/css">
<script src="~/Content/MapResources/OpenlayersWrapper.js"></script>
<script src="~/Content/MapResources/openlayers/lib/OpenLayers.js"></script>


<div id="map1" class="map">
</div>
<script>
        
    $(function () {
        var regionAttributes = { "Tigray": 50, "Amhara": 70, "Afar": 40, "Somali": 30, "Benishangul": 40, "oromia": 90, "Addis Abeba": 100, "Gambela": 50, "Debub": 80 }

        var layers = [
                       { name: "Ethiopia", url: "/Content/MapResources/MapData/ethiopiaJson.js" }
                       , {
                           name: "Regions", url: "/Content/MapResources/MapData/ethiopiaRegions.js"
                       , style:
                                {
                                    "default":
                                        {
                                            "Polygon":
                                                {
                                                    fillOpacity: 1

                                                , label: function (feature) {
                                                    var name = get_attribute_value(feature.attributes, "name", "");
                                                    var att = regionAttributes[name];
                                                    return name;
                                                }
                                                , fillColor: function (feature) {
                                                    var name = get_attribute_value(feature.attributes, "name", "");
                                                    var att = regionAttributes[name];
                                                    var blue = Math.round(50 * (100 - att) / 100) + 170;
                                                    return "rgb(" + 100 + "," + blue + "," + blue + ")";
                                                }
                                                , strokeColor: function (feature) {
                                                    var name = get_attribute_value(feature.attributes, "name", "");
                                                    var att = regionAttributes[name];
                                                    var blue = Math.round(50 * (100 - att) / 100) + 170;
                                                    return "rgb(" + 100 + "," + blue + "," + blue + ")";
                                                }
                                                }
                                        }
                                }
                       }
        ]
        CreateMap("map1", { layers: layers });
    });
</script>
