<div id="div_form_template" style="display:none;">
        <div class="controls">

            <label class="control-label"> Name </label><input class="input-large field" data-type="input" type="text" name="id" id="id" value="Name">
            <label class="control-label"> Address </label><input class="input-large field" data-type="input" type="text" name="label" id="label" value="Password Input">
            <label class="control-label"> Date Of Birth </label><input class="input-large field" data-type="input" type="text" name="placeholder" id="placeholder" value="placeholder">
            
            <label class="control-label"> Nationality </label>
                <select class="field" data-type="select" id="inputsize">

                  <option value="input-mini">Mini</option>

                  <option value="input-small">Small</option>

                  <option value="input-medium">Medium</option>

                  <option value="input-large">Large</option>

                  <option value="input-xlarge" selected="">Xlarge</option>

                  <option value="input-xxlarge">Xxlarge</option>

                </select>
           <label class="checkbox control-group">
                <input type="checkbox" data-type="checkbox" class="input-inline field" name="required" id="required">
                 Required
            </label>
            <hr>
            <input type="button" value="Save" id="button_save" class="btn btn-primary "/>
            <input type="button" value="Cancel" id="Button_cancel" class="btn"/>
            
  </div>
     </div>