<div id="div_form_template" style="display:none;">
        <div class="controls">

            <label class="control-label"> Comment </label>
            <textarea  name="Comment" id="Comment" rows="3">Comment </textarea>
            <!--
            <label class="control-label"> Date </label><input class="input-large field cats-datepicker" data-type="input" type="text" name="promotDate" id="promotDate" value="Comment">
            -->
            <br />
            <br />
            <input type="button" value="Save" id="button_save" class="btn btn-primary "/>
            <input type="button" value="Cancel" id="button_cancel" class="btn"/>
            
  </div>
     </div><script>
   
</script>