<!--<div class=" btn-group">
    <button class="btn icon-print"></button>
    <button class="btn  icon-share"></button>
</div>
    -->
<div class=" btn-group ">
        <a  class="btn toolbar-btn" href="#" target="_blank" id="toolbar_button_print"  title="Print"><i class="icon-print"></i></a>
        <a  class="btn toolbar-btn" href="#" id="toolbar_button_export" title="Export"><i class="icon-share"></i></a>
        <a  class="btn toolbar-btn" href="#" id="toolbar_btn_help" title="Help"><i class="icon-question-sign"></i></a>
</div>
