<!--<div class=" btn-group toolbar">
        <a  class="btn toolbar-btn" href="#" data-toggle="tooltip" title="Custom Command"><i class="icon-star"></i>Custom</a>
        <a  class="btn toolbar-btn" href="#" data-toggle="tooltip" title="Edit this record"><i class="icon-edit"></i></a>
        <a  class="btn toolbar-btn" href="#" title="Delete this record"><i class="icon-trash" ></i></a>
        <a  class="btn toolbar-btn" href="#" title="Back to list"><i class="icon-list" ></i></a>
        <a  class="btn toolbar-btn" href="#" title="Save Change"><i class="icon-ok"></i></a>
        <a  class="btn toolbar-btn" href="#" title="Cancel Changes"><i class="icon-off"></i></a>
        <a  class="btn toolbar-btn" href="#" title="Add New Record"><i class="icon-plus"></i></a>
</div>
-->

<div class=" btn-group toolbar">
        <a href="#" class="btn toolbar-btn "><i class="icon-star"></i>Custom</a>
    
        <a class="btn toolbar-btn " data-buttontype="btn_new_record"></a>
        <a class="btn toolbar-btn " data-buttontype="btn_save"></a>
        <a class="btn toolbar-btn " data-buttontype="btn_edit"></a>
        <a class="btn toolbar-btn " data-buttontype="btn_delete"></a>
        <a class="btn toolbar-btn " data-buttontype="btn_back_to_list"></a>
        <a class="btn toolbar-btn " data-buttontype="btn_cancel"></a>
       
</div>
