
@using Cats.Helpers
@using Cats.Security
@{
    ViewBag.Title = "ReportListing";
    //Layout = "~/Views/Shared/_CATSLayout.cshtml";
    Layout = "~/Views/Shared/_MainLayoutWide.cshtml";
}
<script type="text/javascript">
    
    $(document).ready(function () {
        // Hide the breadcrumb
        $(".span5").hide();
        $("#ReportViewer1_fixedTable").css("width", "100%");
    });
</script>


@*<script src="~/Scripts/js/bootstrap.min.js"></script>
<link href="~/Scripts/css/bootstrap.min.css" rel="stylesheet" />*@
<style>
    .panel {
        padding: 15px;
        margin-bottom: 20px;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    }

    .panel-heading {
        padding: 1px 15px;
        margin: -15px -15px 15px;
        background-color: #f5f5f5;
        border-bottom: 1px solid #dddddd;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    

</style>
<div class="container-fluid">
    <div class="row-fluid">
    <div id="Report_List" class="span3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Reports List</h4>
            </div>
            <div class="panel-body">
                @Html.ReportList()
            </div>
        </div>
    </div>
    <div id="Report_Detail" class="span9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group pull-right" role="toolbar">
                    <a id="newtab_report" role="group" target="_blank" class="btn" href="#" style="margin-top: 4px;"><i class="icon-file"></i> View on new tab</a>
                    <a id="maximize_report" role="group" class="btn btn-info" href="#" style="margin-top: 4px;"><i class="icon-fullscreen"></i> Maximize</a>
                    <a id="minimize_report" role="group" class="btn btn-info" href="#" style="margin-top: 4px; display: none;"><i class="icon-resize-small"></i> Show Report List</a>

                </div>
                <h4 id="report_title" class="panel-title">Report</h4>
            </div>
            <div class="panel-body">
                <iframe id="reportsPanel" style="width: 100%; min-height: 1000px; border: 0;" src="" ></iframe>
                @*<iframe style="width: 100%; min-height: 500px; border: 0;" src="http://localhost:1786/ReportViewer.aspx?path=/Logistics/ITSH"></iframe>*@
            </div>
        </div>

    </div>

</div>
</div>
<script type="text/javascript">
    $(function() {
        $("[rel='tooltip']").tooltip();
        $(".reportLink").each(function (i) {
            $(this).css("font-weight", "normal");
            $(this).css("font-size", "12px");
        });
    });
    $(".reportLink").click(function (event) {
        event.preventDefault();
        $(".reportLink").each(function (i) {
            $(this).css("font-weight", "normal");
            $(this).css("font-size", "12px");
        });
        $(this).css("font-weight", "bold");
        $(this).css("font-size", "14px");
        var path = $(this).data("reportpath").split("/");
        $.ajax({
            url: '@Url.Action("GetReport","Home")',// + '?caseTeam=' + path[1] + '&report=' + path[2],
            type: 'GET',
            data: {'caseTeam' : path[1] , 'report': path[2] },
            beforeSend: function () {
                $("#report_title").html("Loading...");
            }, success: function (data) {
                $("#reportsPanel").attr("src", data);
                $("#newtab_report").attr("href", data);
                //$("#reportsPanel2").load(data);
            }
        }).done(function() {
            $("#report_title").html(path[1] + " - " + path[2]);
        }).fail(function () {
            alert("error");
        });
        
        @*$("#reportsPanel").attr("src", "@Html.GetReport(" + path[1] + "," + path[2] +")");*@
        //$("#reportsPanel").load();
    });
    $("#maximize_report").click(function() {
        $("#maximize_report").hide();
        $("#Report_List").hide();
        $("#Report_Detail").attr('class', 'span12');
        $("#minimize_report").show();
    });
    $("#minimize_report").click(function () {
        $("#minimize_report").hide();
        $("#Report_List").show();
        $("#Report_Detail").attr('class', 'span9');
        $("#maximize_report").show();
    });
    $('#reportsPanel').load(function () {
        //alert("Loading...");
        $("#reportsPanel").contents().find("#ParameterTable_ReportViewer1_ctl04").css("background", "none");
        //alert($("#reportsPanel").contents().find("body").outerHeight());
    });
    $("#print_report").click(function () {
        printReport();
    });
    function printReport() {
        var frm1 = $("#reportsPanel").contents().find("#ReportViewer1");
        var frm = frm1.find("table");
        frm.focus();// focus on contentWindow is needed on some ie versions
        //alert(frm.tos);
        frm.print();
        return false;
    }
</script>
