<ul class="nav nav-list">
    <li class="nav-header">Localization </li>
    <li><a href="@Url.Action("Index", "Translation")"><i class="icon-inbox"></i> Language Lists </a></li>
    <li class="divider"></li>
    <li><a href="@Url.Action("Create","Translation")"><i class="icon-plus"></i> New Translation</a></li>
    
    <li class="divider"></li>
    <li><a href="#"><i class="icon-print"></i> Print</a></li>
    <li><a href="#"><i class="icon-share"></i> Export</a></li>
</ul>
