@model Cats.Models.Hub.CommodityModel


@*@Html.Label("CommodityId", ((IEnumerable CommodityModel>)ViewData["Commodities"]).Where(p=>p.Id == Model).Single().Name)<h2>Sisay</h2>*@

@*@Html.LabelFor(p=>p.Name)*@
