@using Cats.Areas.Logistics.Models
@using Kendo.Mvc.UI
@using Cats.Helpers

@{
    ViewBag.Title = @Html.Translate("Index");
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section Toolbar
{
    <a data-buttontype="btn_new_record" class="btn toolbar-btn " href="@Url.Action("Create", "LocalPurchase")"></a>
}
<h4>@Html.Translate("List of Receipt Plan From Local Purchase")</h4>
 @(Html.Kendo().Grid<LocalPurchaseViewModel>()
              .Name("grid")
              .Columns(columns =>
                  {
                      columns.Bound(m => m.SiNumber).Title(Html.Translate("SI Number")).
                          ClientTemplate("<a href='" + Url.Action("Details", "LocalPurchase", new { id = "#=LocalPurchaseID#" }) + " '>#=SiNumber#</a>  "); ;
                      columns.Bound(m => m.Program).Title(Html.Translate("Program"));
                      columns.Bound(m => m.DonorName).Width(200).Title(Html.Translate("Donor"));
                      columns.Bound(m => m.SupplierName).Width(200).Title(Html.Translate("Supplier Name"));
                      columns.Bound(m => m.Commodity).Width(200).Title(Html.Translate("Commodity"));
                      columns.Bound(m => m.ReferenceNumber).Title(Html.Translate("Reference Number"));
                      columns.Bound(m => m.Quantity).HtmlAttributes(new { align = "right" }).Title(Html.Translate("Quantity"));
                      columns.Bound(m => m.Status).Title(Html.Translate("Status"));

                  }

              )

              .Navigatable()
              .Scrollable()
              .HtmlAttributes(new { style = "height:430px;" })
              .DataSource(dataSource => dataSource
                                            .Ajax()
                                            .Model(model =>model.Id(m=>m.LocalPurchaseID))
                                            .Read(read => read.Action("LocalPurchase_Read", "LocalPurchase"))
              //.Update(update => update.Action("Commodity_Update", "Request"))
              )
              )
