<div class="widget stacked">
    <div id="locHeader" class="widget-header">
        <i class=""></i>
        <h3>Locations and FDPs</h3>
    </div>

    <div id="locContent" class="widget-content">
        <div class="">
            <a href="@Url.Action("", "", new { Area = "EarlyWarning" })" class="shortcut"><i class="shortcut-icon icon-list-alt"></i>
                <span class="shortcut-label">Administrative Units</span>
            </a>
            <br/>
            <a href="@Url.Action("", "", new { Area = "EarlyWarning" })" class="shortcut"><i class="shortcut-icon icon-signal"></i>
                <span class="shortcut-label">FDPs</span>
            </a>
            <br/>
        </div>

    </div>
</div>

<script>
    $("#locHeader").click(function () {
        $("#locContent").slideToggle("slow", "linear");
    });
</script>
