<div class="widget stacked">
    <div id="transdHeader" class="widget-header">
        <i class=""></i>
        <h3>Transaction and Journals</h3>
    </div>
    <div id="transContent" class="widget-content">
       <div class="">
            <a href="@Url.Action("", "", new { Area = "EarlyWarning" })" class="shortcut"><i class="shortcut-icon icon-list-alt"></i>
                <span class="shortcut-label">Journal</span>
            </a>
           <br/>
            <a href="@Url.Action("", "", new { Area = "EarlyWarning" })" class="shortcut"><i class="shortcut-icon icon-signal"></i>
                <span class="shortcut-label">Ledger</span>
            </a>
           <br/>
        </div>
    </div>
</div>
<script>
    $("#transdHeader").click(function () {
        $("#transContent").slideToggle("slow", "linear");
    });
</script>
