@using System.Collections
@using Cats.Areas.Settings.Models.ViewModels
@using Kendo.Mvc.UI
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section Toolbar
{
  @Html.Partial("_AdminGridCommands");    
}
@section LeftBar
{
   @Html.Partial("_AdminLeftBar");
}
<script>
    $(document).ready(function () {
        setAsActive("#HubOwner");
    });
</script>
<div>
    <h4>Manage Hub Owners</h4>
</div>
@(Html.Kendo().Grid<HubOwnerViewModel>()
    .Name("grid")
    .Editable(editable => editable.Mode(GridEditMode.InCell))
    .Sortable()
    .Filterable()
    .HtmlAttributes(new { style = "height:400px;" })
    .Scrollable()
    .Navigatable()   
    .Columns(columns =>
        {
            columns.Bound(p => p.Name).Width(250);
            columns.Bound(p => p.LongName).Width(250);
            columns.Command(command => command.Destroy());
        })
    .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model => model.Id(p => p.HubOwnerID))
            .Read(read => read.Action("ReadAllJson", "HubOwner"))
            .Update(update => update.Action("UpdateJson", "HubOwner"))
            .Create(create => create.Action("CreateJson", "HubOwner"))
            .Destroy(destroy=>destroy.Action("DeleteJson","HubOwner"))
        )
   
      )


