@using Cats.Web.Hub.Helpers
@model IEnumerable<Cats.Models.Hub.Store>

@{
    ViewBag.Title = Html.Translate("Stores");
}

<h2>
    @Html.Translate("List of Stores")</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @Html.DialogFormLink(Html.Translate("Create New"), Url.Action("Create"), Html.Translate("Create New Warehouse Owner"), "storelist", Url.Action("Update"))
</p>
<div id="storelist">
    @Html.Partial("Update")
</div>