@using System.Data
@using Cats.Helpers
@using Kendo.Mvc.UI

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}
<!--
@Html.Translate("Early Warning Maps")
    -->
@using Cats.Services.Security
@using LanguageHelpers.Localization
@{
    var user = (UserIdentity)HttpContext.Current.User.Identity;
    
    }
<style>



</style>
<link rel="stylesheet" href="~/Content/MapResources/openlayers/theme/default/style.css" type="text/css">
<script src="~/Content/MapResources/OpenlayersWrapper.js"></script>
<script src="~/Content/MapResources/openlayers/lib/OpenLayers.js"></script>
<script src="~/Content/MapResources/MapStyle.js"></script>
<script src="~/Content/MapResources/MapLegend.js"></script>

<div ng-app ng-controller="mapController">
    <div class="map-container">
        <div class="admin_data">
            <div ng-repeat="adminRegion in adminRegions">
                 <input class="input-small" ng-model="adminRegion.code"  ng-change="onMappingChange();"/>
                <button ng-click="loadChildren(adminRegion)">Down</button> {{adminRegion.AdminUnitName}}
            </div>

        </div>
        <div id="map1" class="map"></div>
        <div id="map1Legend0" class="map-legend" style="display:none;"></div>
        <div class="map-title" style="display:none";>Admin Unit</div>
    </div>
    </div>


<div class="map-container">
    <div id="map2" class="map"></div>
    <div id="map2Legend" class="map-legend"></div>
    <div class="map-title">Total Commoditiy Required</div>
</div>
<div style="height:600px;"></div>
<script>
        
    function mapController($http, $scope, $timeout) {
        $scope.adminRegions = [];
        $scope.renderedMap = {};
        $scope.adminUnitLevel = "";
        $scope.shapeUrls =
            {
                Region: "/Content/MapResources/MapData/ethiopiaRegions2.txt"
                , Zone: "/Content/MapResources/MapData/AllZones.txt"
                , Woreda: "/Content/MapResources/MapData/AllWoredas.txt"
            };
        $scope.ServerUrls = { adminUnit: "@Url.Action("AdminUnit_Read", "AdminUnit", new { Area = "Settings" })" }

        $scope.onMappingChange = function () {
            $scope.renderedMap.layers[0].redraw();
        }
        $scope.getAdminUnit = function (level, parent) {
            $scope.adminUnitLevel = level;
            parent = level == "Region" ? { AdminUnitID: 1 } : parent;
            $http.get($scope.ServerUrls.adminUnit, { params: { parentAdminUnitID: parent.AdminUnitID } })
                .success(function (response, status, headers, config) {
                    console.log("Regions",level, response);
                    $scope.adminRegions = response.Data;
                    $scope.CreateMap($scope.adminRegions, level,parent.code);
                })
                .error(function (data, status, headers, config) {
                    console.log("Regions fetch error", response);
                });
        }
        $scope.getRegionData = function () {
           // $scope.adminUnitLevel = "Region";
            $scope.getAdminUnit("Region");
        }
        $scope.loadChildren = function (parent) {
            var childName={Region:"Zone",Zone:"Woreda"};
            var newLevel=childName[$scope.adminUnitLevel];
            if (newLevel) {
                $scope.getAdminUnit(newLevel, parent);
            }
        }
        var findBy = function (key,val) {
            for (var i in $scope.adminRegions) {
                if ($scope.adminRegions[i][key] == val) {
                    return $scope.adminRegions[i];
                }
            }
        }
        $scope.mapStyle = function (data,parent) {
           return {
                "default":
                {
                    "Polygon":
                    {
                        //fillOpacity: 0.8
                         strokeOpacity: 1
                        , label: function (feature) {
                            var parentCode = get_attribute_value(feature.attributes, "parentCode", "");
                            if (parentCode && parentCode != parent) {
                                return "";
                            }
                            //if(parent+""+code
                            //return parentCode + "-" + parent;
                            return get_attribute_value(feature.attributes, "name", "") + "\n" + get_attribute_value(feature.attributes, "code", "");
                        
                            
                         }
                       
                        , fillColor: function (feature) {
                            var code = get_attribute_value(feature.attributes, "code", "");
                            if(findBy("code",code))
                            {

                                return "#8FD";
                            }
                            if (findBy("AdminUnitName", get_attribute_value(feature.attributes, "name", "--"))) {

                                return "#FF8";
                            }

                            return "#F88";
                                return colorOptions.noValColor;
                        }
                       , strokeColor: "${get_defaultPolygonfillColor}"
                        , fillOpacity: function (feature) {
                            var parentCode = get_attribute_value(feature.attributes, "parentCode", "");
                            if (parentCode && parentCode != parent) {
                                return 0.2;
                            }
                            return 0.8;
                        }
                    }
                }
            }
        }
        $scope.CreateMap = function (dataTable, level, parent) {
            var filterAdminRegions = function (data) {

            }

            var key="code";
            var indicator = "code";
            var shapeUrl = $scope.shapeUrls[level];
            var mapLayer = 
            [
                { name: "Regions", url: shapeUrl, style: $scope.mapStyle(dataTable,parent) }//getPolygonShadingStyle(key, dataTable, indicator, {}) }
            ];
            $("#map1").html("");
            $scope.renderedMap=CreateMap("map1", { layers: mapLayer,preProcessor:filterAdminRegions});
        }
        $scope.getRegionData();
    }
   

    
</script>
<style>
    .map
    {
       position:absolute;
        top:0px;
        left:300px;
        right:0px;
        bottom:0px;
                background: #7abcff; /* Old browsers */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#aad4ff), color-stop(44%,#60abf8), color-stop(100%,#a3c8ed));    
       
    }
    .admin_data
    {
        position:absolute;
        top:0px;
        width:300px;
        left:0px;
        bottom:0px;
        background:#EEE;
    }
    .map-container
    {
         position:relative;
        margin-top:10px;
        left:10px;
        height:500px;
        width:100%;
        
        border:solid 1px #DDD;
        border-radius:6px;
        
}
    .map-legend
    {
       position:absolute;
        top:0px;
        right:0px;
        width:300px;
        background:rgba(255,255,255,0.6);
        padding:20px;
        padding-top:0;
        box-shadow: -2px 2px 2px #444;
       
    }
        .map-legend .title
        {
            font-size:20px;
            line-height:40px;
        }
        .map-legend .item
        {
            line-height:40px;
            border-bottom:solid 1px #EEE;
        }
        .map-legend .pallet
        {
            line-height:40px;
            padding:4px;
            padding-left:10px;
            padding-right:10px;
            border-radius:6px;
        }
    .map-title
    {
        position:absolute;
        top:0px;
        left:100px;
        width:300px;
        /*background:rgba(255,255,255,0.6);*/
        color:#FFF;
        padding:20px;
        font-size:20px;
        text-shadow:2px 2px 2px #44A;

    }
    .olControlMousePosition
    {
        background:#000;
        color:#FFF;
    }

</style>