@using Kendo.Mvc.UI
@model List<Cats.Models.HRD>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}

@section Toolbar
{
    <a data-buttontype="btn_new_record" class="btn toolbar-btn " href="@Url.Action("Create", "HRD")"></a>
}


<div>
</div>

<div id="modalWindow">
    <h4>Approve HRD?</h4>
    <button id="yes" class="k-button">Yes</button>
    <button id="no" class="k-button">No</button>
</div>
<script>
    var wnd;
    $(document).ready(function () {
        wnd = $("#modalWindow").kendoWindow({
            title: "Approve confirmation",
            modal: true,
            visible: false,
            resizable: false,
            width: 300
        }).data("kendoWindow");
    });
</script>

@section LeftBar{

    @Html.Partial("_HRDLeftBar");
}

@(Html.Kendo().Grid<Cats.Models.ViewModels.HRD.HRDViewModel>()
    .Name("grid")
    .Columns(columns =>
        {
        columns.Bound(p => p.Ration).Title("Ration No").ClientTemplate("<a href='" + Url.Action("HRDDetail", "HRD", new { id = "#=HRDID#" }) + " '>#=Ration#</a>  ");
        columns.Bound(p => p.Season);
        columns.Bound(p => p.Year);
        columns.Bound(p => p.CreatedBy);  
        columns.Bound(p => p.CreatedDate).Format("{0:MM/dd/yyyy}");
       // columns.Bound(p => p.PublishedDate).Format("{0:MM/dd/yyyy}");
            columns.Bound(p => p.Status);

            columns.Command(p =>
                {
                    p.Custom("Edit").Click("hrdEdit");
                    p.Custom("Approve").Click("approveHRD");
                    p.Custom("Summary").Click("showSummary");

                });
            //{
            //   // p.Custom("ViewDetails").Click("showDetails");
            //    p.Custom("Edit").Click("hrdEdit");
            //});
            //columns.Command(p =>
            //{
            //    p.Custom("Edit").Click("hrdEdit");
            //    p.Custom("ViewDetails").Click("showDetails");
            //});

        })
    .Pageable()
    .Sortable()
    .Filterable()
    .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(8)
            .Model(model => model.Id(p => p.HRDID))
            .Read(read => read.Action("HRD_Read", "HRD"))
 
     )
   
      )



<script>
    function showSummary(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = "HRD/RegionalSummary/" + dataItem.HRDID;

    }
    
</script>
<script>
    function hrdEdit(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = "HRD/Edit/" + dataItem.HRDID;
    }
</script>
<script>

    function approveHRD(e) {
        e.preventDefault();
        var grid = this;
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var row = $(e.currentTarget).closest("tr");
        wnd.center().open();

        $("#yes").click(function () {

            window.location = "HRD/ApproveHRD/" + dataItem.HRDID;
            wnd.close();
        });

        $("#no").click(function () {
            wnd.close();
        });
    }
</script>

@*<script>
    function approveHRD(e) {
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location = "HRD/ApproveHRD/" + dataItem.HRDID;
    }
</script>*@

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }
</script>