@model Cats.Models.Hub.ViewModels.Report.PeriodViewModel

<li>
    <label>Start Date</label>
</li>
<li>
    @Html.EditorFor(model=> model.StartDate)
</li>
<li>
    <label>End Date</label>
</li>
<li>
    @Html.EditorFor(model => model.EndDate)
</li>