<li><a href="@Url.Action("Index", "ProcessTemplate", new { Area = "WorkflowManager" })">Business Process</a></li>
<li><a href="@Url.Action("Index", "StateTemplate", new { Area = "WorkflowManager" })">States</a></li>
<li><a href="@Url.Action("Index", "FlowTemplate", new { Area = "WorkflowManager" })">Process Flows</a></li>