@model  List<Cats.Models.ViewModels.RequisitionHub.RequestHubAssignment>

@{

    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <table border="1"  class="table table-bordered table-condensed table-striped">
        <tr>
            <th>
                @Html.Label("Requisition Id")
            </th>
            <th>
                @Html.Label("Hub ID")
            </th>
         </tr>
    @foreach (var item in Model)
 {
 
    <tr>
        <td>
          @Html.DisplayFor(modelItem => item.ReliefRequistionID)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HubID)
        </td>
    </tr>
    }
        </table>

<h2>Edit</h2>
