<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  

  
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cats.TemplateEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CatsContext" connectionString="Data Source=.;Initial Catalog=CatsMaster;User=sa;Password=P@ssw0rd;&quot; providerName=&quot;System.Data.SqlClient" />
        <add name="Cats.TemplateEditor.Properties.Settings.CatsContext"
            connectionString="Data Source=.;Initial Catalog=CatsMaster;User=sa;Password=P@ssw0rd;&quot; providerName=&quot;System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITemplateManager" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1479/TemplateManager.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITemplateManager"
                contract="TemplateService.ITemplateManager" name="BasicHttpBinding_ITemplateManager" />
        </client>
    </system.serviceModel>
    <userSettings>
        <Cats.TemplateEditor.Properties.Settings>
            <setting name="ServerUrl" serializeAs="String">
                <value>http://localhost:8733/Design_Time_Addresses/WcfTemplateLibrary/GetTemplateTypes/mex</value>
            </setting>
            <setting name="DefaultPath" serializeAs="String">
                <value>c:\</value>
            </setting>
        </Cats.TemplateEditor.Properties.Settings>
    </userSettings>
</configuration>