<ul class="nav nav-list">
    <li class="nav-header">Contribution Management</li>
    <li><a href="@Url.Action("Index", "Contribution")"><i class="icon-inbox"></i> Contribution Lists </a></li>
    <li class="divider"></li>
    <li><a href="@Url.Action("Create","Contribution")"><i class="icon-plus"></i> New Contribution</a></li>

    
    <li class="divider"></li>
    <li><a href="#"><i class="icon-print"></i> Print</a></li>
    <li><a href="#"><i class="icon-share"></i> Export</a></li>
</ul>
