@using Cats.Models.ViewModels
@using Kendo.Mvc.UI
@model  List<Cats.Models.Contribution>


@{
    ViewBag.Title = "ContributionSummary";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}
@section Toolbar
{
        <a data-buttontype="btn_new_record"  class="btn toolbar-btn " href="@Url.Action("Create", "Contribution")"></a>
}

@section LeftBar{

    @Html.Partial("_ContributionLeftBar");
}
<div class="form-horizontal">
    <table>
        <tr>
            <td>
                Select Year to View Contribution Summary  :    
            </td>
            
            <td> 
                @*@Html.DropDownList("Year", string.Empty)*@
                @Html.DropDownList("Year", Enumerable.Range(2010, DateTime.Now.Year).Select(i => new SelectListItem { Value = i.ToString(), Text = i.ToString()}), "--Select Year --")
            </td>
        </tr>
    </table>

</div>
@(Html.Kendo().Grid<Cats.Areas.EarlyWarning.Models.ContributionSummaryViewModel>()

    .Name("grid")
    .Columns(columns =>
        {
            columns.Bound(p => p.Donor);
            columns.Bound(p => p.Commodity);
            columns.Bound(p => p.Ammount).ClientGroupFooterTemplate("Total: #=sum#");

        })
        .Pageable()
    .DataSource(datasource => datasource.Ajax()
        .Aggregates(aggregates => aggregates.Add(p => p.Ammount).Sum())
        .Group(group => group.Add(m => m.Donor))
        .PageSize(8)
     .Read(read => read.Action("ContributionSummary_Read", "Contribution").Data("filterData")))
      .Groupable())
   @* //.Pageable()
   // .Sortable()
   // .Filterable()
    
    
    
    //.DataSource(dataSource => dataSource
         // .Ajax()
           //.Aggregates(aggregates =>aggregates.Add(p => p.Commodity).Sum())
           //.Aggregates(aggregates =>aggregates.Add(p => p.Ammount).Sum())
      //.Group(group=>group.Add(m=>m.Donor))
         // .PageSize(12)
              //.Model(model => model.Id(p => p.ContributionID))
                //.Read(read => read.Action("ContributionSummary_Read", "Contribution", new { id = Model.First().Year }))
              //  .Read(read => read.Action("ContributionSummary_Read","Contribution").Data("filterData"))
       //  )
   
    //  )*@

<script type="text/javascript">

    function filterData() {

        return {
            year: $("#Year").val()
          
        };
    }

    $(document).ready(function () {
        $("#Year").change(function () {
            var grid = $("#grid").data("kendoGrid");
            grid.dataSource.read();
        });
    });
</script>
