@using System.Collections
@using Kendo.Mvc.UI
@model  Cats.Models.Contribution
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";    
}

@section LeftBar
{
    @Html.Partial("_ContributionLeftBar");
}

<div>
    <h4> Pledge by Donor:@ViewBag.DonorID </h4>

</div>
@(Html.Kendo().Grid<Cats.Areas.EarlyWarning.Models.ContributionDetailViewModel>() 
.Name("grid").Columns(columns =>
    {

        //columns.Bound(m => m.ContributionDetailID);
        //columns.Bound(m => m.ContributionID);
        columns.Bound(m => m.PledgeReferenceNumber);
        columns.Bound(m => m.PledgeDate).Format("{0:MM/dd/yyyy}");
        columns.Bound(m => m.Amount).ClientFooterTemplate("<h4>#=kendo.format('{0:N}', sum)#</h4>").Format("{0:N}");
        columns.ForeignKey(m => m.CurrencyID, (IEnumerable)ViewBag.CurrencyID, "CurrencyID", "Code").Title("Currency");

        columns.Command(command => command.Destroy());
    })
    .ToolBar(toolbar =>
        {
            toolbar.Create();
            toolbar.Save();
        })
    .Editable(editable => editable.Mode(GridEditMode.InCell))
      .Pageable()
      .Groupable()
      .Sortable()
     // .Selectable(t=>t.Mode(GridSelectionMode.Single	))
      .Filterable()
      .DataSource(datasource=>datasource
      .Ajax()
      .Aggregates(aggregates =>aggregates.Add(p => p.Amount).Sum())
        .Model(model =>
            {
                model.Id(m=>m.ContributionID);
                model.Field(m => m.Amount).Editable(true);
            }
    )
        .Read(read => read.Action("ContributionDetail_Read", "Contribution",new{id=Model.ContributionID}))
         .Update(update => update.Action("ContributionDetail_Update", "Contribution"))
         .Create(create => create.Action("ContributionDetail_Create", "Contribution",new {id=Model.ContributionID}))
         .Destroy(destroy=>destroy.Action("ContributionDetail_Destroy","Contribution"))
    )
    )

      