@using Kendo.Mvc.UI
@model List<Cats.Models.Contribution>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";  
}

@section LeftBar
{
    @Html.Partial("_ContributionLeftBar");
}
@section Toolbar
{
<<<<<<< HEAD
    <a data-buttontype="btn_new_record" class="btn toolbar-btn " href="@Url.Action("Create", "Contribution")"></a>
}

@section Breadcrumb
{
    <ul class="breadcrumb">
        <li><a href="~/">Home</a> <span class="divider">/</span></li>
        <li class="active">Contribution</li>
    </ul>
}
<div class="well">
=======
        <a data-buttontype="btn_new_record"  class="btn toolbar-btn " href="@Url.Action("Create", "Contribution")"></a>
}
<div>
>>>>>>> de9d081b8104f32873fd8fa9028bfa39b3133fa9
    <h4 class="page-header">List of Donor Contributions</h4>
</div>
@(Html.Kendo().Grid<Cats.Areas.EarlyWarning.Models.ContributionViewModel>()
    .Name("grid")
    .Columns(columns =>
        {
            columns.Bound(p => p.HRD).ClientTemplate("<a href='" + Url.Action("Details", "Contribution", new { id = "#=ContributionID#" }) + " '>#=HRD#</a>  ");
        columns.Bound(p => p.Donor);
        columns.Bound(p => p.Year);
        
        })
    .Pageable()
    .Sortable()
    .Filterable()
    .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(8)
            .Model(model => model.Id(p => p.ContributionID))
           .Read(read => read.Action("Contribution_Read", "Contribution"))
 
     )
   
      )
