@using Cats.Web.Hub.Helpers
@model IEnumerable<Cats.Models.Hubs.Ledger>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @*@Html.LedgerLink("Create", Url.Action("Info"), Html.Translate("Create New"), Url.Action("Index"))*@

</p>
<table style="width:100%">
    <tr>
        <th>
            No.
        </th>
        <th>
            Name
        </th>
        <th>
            LedgerType
        </th>
        <th></th>
    </tr>
    @{
        var i = 1;
    }

@foreach (var item in Model) {
    <tr>
        <td>@i</td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LedgerType.Name)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.LedgerID })*@ |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.LedgerID })*@
        </td>
    </tr>
    i++;
}
</table>