<ul class="nav nav-list">
    <li class="nav-header">Bid Management</li>
    <li><a href="@Url.Action("AllBids", "Bid")"><i class="icon-envelope"></i> Bids</a></li>
    <li><a href="@Url.Action("ApprovedBids","Bid")"><i class="icon-check"></i>Approved Bids</a></li>
    <li><a href="@Url.Action("Index", "Bid")"><i class="icon-inbox"></i> Current Bids </a></li>
    <li class="divider"></li>
    <li><a href="@Url.Action("Create","Bid")"><i class="icon-plus"></i> New Bid</a></li>
    
    <li class="divider"></li>
    <li><a href="#"><i class="icon-print"></i> Print</a></li>
    <li><a href="#"><i class="icon-share"></i> Export</a></li>
</ul>
