@model IEnumerable<Cats.Models.Hub.AdminUnitType>
@using Cats.Web.Hub.Helpers
@{
    ViewBag.Title = Html.Translate("Administrative Units");
}

<h2>@Html.Translate("Manage Administrative Units")</h2>
<p>@Html.Translate("Manage the list of administrative units here.")</p>
@{
    Html.Telerik().TabStrip()
        .Name("TabStrip")
        .Items(tabstrip =>
                   {
                       foreach ( var item in Model)
                       {
                           tabstrip.Add()
                               .Text(item.Name)
                               .LoadContentFrom(Url.Action("AdminUnits") + "/" + item.AdminUnitTypeID + "?id=" + item.AdminUnitTypeID);
                       }
                      
                   })
                   .SelectedIndex(0)
                   .ClientEvents(events => events.OnSelect("tabSelected"))
        .Render();
}

