@using Cats.Helpers

@model Cats.Areas.GiftCertificate.Models.GiftCertificateViewModel
<div class="modal-dialog modal-sm">
    <div class="modal-content">
      
        <div class="modal-header">
          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
          <h4 id="myModalLabel" class="modal-title">@Html.Translate("Approve Gift Certificate")</h4>
        </div>

        @using (Html.BeginForm("Approve", "GiftCertificate", FormMethod.Post, new { @class = "modal-form" }))
        {
            @Html.ValidationSummary()

            <div class="modal-body">
                @Html.HiddenFor(model => model.GiftCertificateID)
                <p>
                    Are you sure you want to Approve?
                </p>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Yes</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">No</button>
            </div>
   
        }
    </div>
</div>
