<ul class="nav nav-list">
    <li class="nav-header">Ration</li>
   
    <li><a  href="@Url.Action("Index", "Ration", new { Area = "EarlyWarning" })"><i class="icon-edit"></i>Rations</a></li>
   

</ul>
@*@Html.ActionLink("Create", "Create", null, null, new { id = "btnCreate", @class = "btn btn-small btn-info" })*@

